<style type="text/css">

</style>
<div class="container-wrapper navigation fixed">
        <nav class="navbar navbar-default" role="navigation">
        
            <div class="container">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/front/logoline.png" style="height:50px; margin-top:0px" />
                    </a>
                    <ul class="mini"></ul><!-- mobile navigation -->
                </div><!-- .navbar-header -->
                
                <div class="collapse navbar-collapse">
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="/"><%= __('Home') %></a></li>
                            <li class=""><a href="/portfolio"><%= __('Portfolio') %></a></li>
                            <li class="active"><a href="/blog"><%= __('Blog') %></a></li>
                            <li class=""><a href="/contact"><%= __('Contact') %></a></li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="container" style="position:relative;">
                <div class="bottombordernavbar "></div>
            </div>
        </nav>
    </div>
    <div id="nav-ends"></div>

   	<section class="content-section low-rider margintop blog">
    	<div class="container">
        	<div class="row">
            
            	<div class="col-lg-9 single">
                   	<div class="blog">
                             <span class="image">
                            
                                     <% if(article.publishVideo==true && article.video){ %>
                                        <div class="pretty-embed" data-pe-videoid="<%= article.video %>"></div>
                                        <%}else if(article.images.length) { %>
                                            <img src="/file/image/originalsize/<%= article.images[0].image.filename %>" alt="<%= article.images[0].image.alt %>"/>
                                        <% } %>
                                </span>

             
                            <div class="date" >
                                <a  class="day" title="<%- moment(article.date).fromNow() %>">
                                    <%- moment(article.date).format('D') %>
                                </a>
                                <a  class="month" title="<%- moment(article.date).format('YYYY') %>" >
                                    <%- moment(article.date).format('MMM') %>
                                </a>
                            </div><!-- .date -->
                        
                        <span class="title-desc anim fadeIn">
                            <h1 ><%= article.title %></h1>
                            <ul class="meta">
                                    <% if( article.author ){%> 
                                        <% if(article.author.usename==true){%> 
                                        <li><i class="fa fa-user"></i><%= article.author.name %></li>
                                        <% }else{ %>
                                        <i class="fa fa-user"></i><%= article.author.pseudo %></li>
                                        <% } %>
                                    <% } %>
                                    <li><i class="fa fa-eye"></i><%= article.nbView %></li>
                                    <li>
                                        <% for(var j in category){ %>
                                           
                                         <%  if(article.category && category[j].id==article.category){%>
                                                <a href="blog/category/<%= category[j].id  %>"><i class="fa fa-th-list"></i>
                                                <%= category[j].name %>
                                                </a>
                                          <% } %>
                                        <% } %>
                                    </li>
                                    
                            </ul>
                        </span><!-- .title-desc -->
                        
                        <div class="contenu">
                            
                        <%- marked(article.content) %>

                        </div>
                        <% if(article.documents.length > 0) {%> 
                            <div class="pj">
                                <label><%=  __('Pièces jointes') %></label>
                                <ul>
                                    <% for(var i=0; i<article.documents.length; i++) {%>
                                    <li><a href="/file/document/<%= article.documents[i].document.filename %>" target="_BLANK"><%= article.documents[i].document.filename %></a></li>
                                    <% } %>  
                                </ul>
                            </div>
                        <% } %>
                        <div style="margin-bottom:50px"></div>
                        <% 
                        var i=1;
                        if(article.publishVideo==true && typeof article.video !== 'undefined'){
                            i=0;
                        }
                        for(i; i<article.images.length; i++) {%>
                       
                                
                        <div class="image wow zoomInUp">
                           
                                <img  src="/file/image/originalsize/<%= article.images[i].image.filename %>" alt="<%= article.images[i].image.alt %>"/>
                        </div>
                        <% } %>
                    </div><!-- .blog -->
                     <div id="socials">
                     <div id="example1">
                      <div id="twitter" data-url="http://momcreation.com/blog/article/<%= article.id %>/<%- article.rewriteurl %>" data-text="<%= article.title %>" data-title="Tweet"></div>
                      <div id="facebook" data-url="http://momcreation.com/blog/article/<%= article.id %>/<%- article.rewriteurl %>" data-text="<%= article.title %>" data-title="Like"></div>
                    </div>
                    </div>
                    <div class="clearfix"></div>
                    
                	<h4 class="anim fadeIn">
                        <%= __('Commentaires') %> (<%= article.comments.length %>)
                    </h4>
                   
                    <div>
                        <h6 class="anim fadeIn" data-wow-delay="0.24s">
                            <%= __('text-commentaire') %>
                        </h6>
                    </div>
                    
                	<div class="form contact postcoment style-2">
                        <form target="#" name="contact">
                            <span class="input-group anim fadeIn" data-wow-delay="0.1s">
                                <i class="fa fa-user"></i>
                                <input type="text" name="contactName" id="author" class="lg" placeholder="Nom" />
                            </span><!-- .input-group -->
                            
                            <span class="input-group anim fadeIn" data-wow-delay="0.20s">
                                <i class="fa fa-envelope"></i>
                                <input type="text" name="contactEmail" id="email" class="lg" placeholder="Address email " />
                            </span><!-- .input-group -->
                            
                            <span class="input-group anim fadeIn" data-wow-delay="0.30s">
                                <textarea name="contactMessage" id="content" class="lg" placeholder="Exprimez-vous!"></textarea>
                            </span><!-- .input-group -->
                            
                            <span id="message"></span>
                            
                           	<a class="btn btn-sm btn-primary icon anim fadeIn" id='comentADD' data-wow-delay=".45s" role="button"><i class="fa fa-long-arrow-right"></i><%= __('Poster mon commentaire') %></a>
                            <span id="message_sent"><i class="fa-check fa"></i></span>
                        </form>
                    </div>

                    <div id="" class="box boxcomment addCommentForm <%= article.id %>">
                           
                        
                        <ul class="comments">
                            <% for(var j=0; j<article.comments.length; j++) {%>
                            <li class="box boxcomment">
                                <h5><%= article.comments[j].author %>  <span class="date pull-right small"><%= moment(new Date(article.comments[j].createdAt)).fromNow() %></span></h5>
                               
                                <p><%= article.comments[j].content %></p>

                                <ul class="comments" >
                                    <% for(var k=0; k<article.comments[j].reponses.length; k++) {%>
                                    <li class="box boxcomment">
                                        <h5 ><%= article.comments[j].reponses[k].author %><span class="date pull-right small"><%= moment(new Date(article.comments[j].reponses[k].createdAt)).fromNow() %></span></h5>
                                        
                                        <p><%= article.comments[j].reponses[k].content %></p>
                                        
                                    </li>
                                    <% } %>
                                </ul>  
                            </li>
                            <% } %>
                        </ul>
                    
                    </div>
                </div><!-- .col-lg-9 -->
                
              	<div class="col-lg-3 sidebar">
                    
                    
                         <h4 class="anim fadeInRight">Catégories<i class="fa fa-th-list"></i></h4>
                     
                        <div class="anim fadeInRight">
                            <ul class="posts" >
                            <% for(var i in category){ %> 
                                <a href="blog/category/<%= category[i].id %>"><li><h6><%= category[i].name %></h6></li></a>
                            <% } %> 
                            </ul>
                        </div><!-- .text -->
                        
                        <h4 class="anim fadeInRight">
                            Les plus vues<i class="fa fa-bomb"></i>
                        </h4>
                        
                        <div class="anim fadeInRight">
                                    <ul class="posts">
                                         <% for(var i in mostseen){ %> 
                                            <li>
                                                <a href="blog/article/<%= mostseen[i].id %>/<%- mostseen[i].rewriteurl %>">
                                                    
                                                <h6>
                                                    <%= mostseen[i].title %>
                                                </h6>
                                                <cite><i class="fa fa-date"></i><%= moment(mostseen[i].date).fromNow() %></cite>
                                                <div class="clearfix"></div>
                                                </a>

                                            </li>
                                        <% } %> 
                                       
                                        
                                       
                                    </ul><!-- .posts-wrapper -->
                        </div>
                    </div>
                    
                </div>
                
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .content-section -->
 <script>

   
    var article = <%- JSON.stringify(article) %>
    console.log(article);
    

</script>