 <div class="container-wrapper navigation fixed">
        <nav class="navbar navbar-default" role="navigation">
        
            <div class="container">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/front/logoline.png" style="height:50px; margin-top:0px" />
                    </a>
                    <ul class="mini"></ul><!-- mobile navigation -->
                </div><!-- .navbar-header -->
                
                <div class="collapse navbar-collapse">
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="/"><%= __('Home') %></a></li>
                            <li class=""><a href="/portfolio"><%= __('Portfolio') %></a></li>
                            <li class="active"><a href="/avendre"><%= __('Toile à vendre') %></a></li>
                            <li class=""><a href="/blog"><%= __('Blog') %></a></li>
                            <li class=""><a href="/contact"><%= __('Contact') %></a></li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="container" style="position:relative;">
                <div class="bottombordernavbar "></div>
            </div>
        </nav>
    </div>
    <div id="nav-ends"></div>

 <div class="content-section low-rider margintop portfo">
           
            <div id="main">
                    <div class="grid-sizer"> </div>      

                <div class="box container grid">
                    <% var url='' %>
                 <% for(var i=0; i<projects.length; i++) {%>
                    <% if(projects[i].rewriteurl){
                            url = "projet/"+projects[i].id +"/"+ projects[i].rewriteurl;
                            } else {
                                url = "projet/"+projects[i].id +"/";
                    
                            } 
                            var classtab = ['grid-item','grid-item','grid-item','grid-item']
                            var n = Math.ceil(Math.random()*4)-1
                            var myclass = classtab[n]

                            console.log(classtab);
                            console.log(n);
                            console.log(myclass);
                    %>
                    <div class="boximage <%= myclass %> <% if(projects[i].category){ %><%= projects[i].category.id %><% } %>">
                    <a href="<%- url %>" >        
                               
                                <%if(projects[i].img) { %>
                                    <img class="" onload="resizeGallary(false)" src="/file/image/adminThumbs/<%= projects[i].img.filename %>" alt="<%= projects[i].img.alt %>"/>
                                <% } %>
                                <div class="cacheimage"><i class="fa-eye fa"></i></div>
                    </a>
                    </div>
                    <% } %>
                
                </div> 

            </div>

        
 </div>
<script type="text/javascript">

var projects = <%- JSON.stringify(projects) %>;
        console.log(projects);


var toto2 = <%- JSON.stringify(categories) %>;
    console.log(toto2);

</script>