
    <!-- content -->
    <section class="content" >
        <div class="container">
        <div class="row">
                <!-- LEFT COLONNE -->
            
                <!-- MAIN CONTENT -->
            <div class="col col-md-9">
                <div class="mainContainer">
                    <% for(var i in articles){ %> 

                    <%
                    var customclass="";
                    if(typeof(articles[i].category)!='undefined' && articles[i].category.id == "569bfa235dd553cf109efd6d")
                        customclass="chercheur"; 
                    if(typeof(articles[i].category)!='undefined' && articles[i].category.id == "569bfa235dd553cf109efd6d")
                        customclass="salarie"; 
                    if(typeof(articles[i].category)!='undefined' && articles[i].category.id == "569bfa235dd553cf109efd6d")
                        customclass="entreprise"; 
                    if(typeof(articles[i].category)!='undefined' && articles[i].category.id == "569bfa235dd553cf109efd6d")
                        customclass="partenaire"; 
                    %>

                    <article class="article <%- customclass %>">
                        <h2><%- articles[i].title %></h2>
                        <p>
                        <% if(typeof(articles[i].category)!='undefined'){ %> 
                            <a href="blog/article/<%= articles[i].id %>/<%= articles[i].rewriteurl %>">
                                <span><%= articles[i].category.name %></span>
                            </a> -
                        <%} %>
                        <% if(typeof(articles[i].tags)!='undefined'){ %> 
                            <% for(var j=0; j< articles[i].tags.length ; j++){ %> 
                                <span><%= articles[i].tags[j].text %></span>
                            -
                            <%} %>
                        <%} %>
                        <% if(typeof(articles[i].comments)!='undefined'){ %> 
                            <span><%= articles[i].comments.length %> commentaire<% if(articles[i].comments.length>1){ %>s<%} %></span> -
                        <%} %>
                         <span>Publié le <%= moment(articles[i].date).format('D MMMM YYYY à HH:mm') %></span>
                        </p>
                        <% if(typeof(articles[i].img)!='undefined' && !articles[i].publishVideo){ %>    
                            <div class="imagearticle"><img src="file/image/adminThumbs/<%= articles[i].img.filename %>" alt="<%= articles[i].img.filename %>"></div>
                        <%}%>
                            <div class="articlecontent">
                                
                                    <%- articles[i].content %>
                                
                                <div class="readmore"><a href="blog/article/<%= articles[i].id %>/<%= articles[i].rewriteurl %>">Lire la suite ...</a></div>

                            </div>
                        

                        <div class="clearfix"></div>
                        
                    </article>

                    <%}%>  
                   

                    <div class="paginationcontainer">
                        <% if(iscategory == 'blog'){ %>
                          <ul class="pagination">
                            <% if(currentPage-1>0){ %>
                            <li>
                              <a href="blog/<%= currentPage-1 %>" aria-label="Previous">
                                <span aria-hidden="true">Page précédente</span>
                              </a>
                            </li>
                            <% } %>
                            <% for(var i=1; i<= nbPage ; i++){ %>
                          
                                <li <%if(i == currentPage){ %> class="active" <% } %> ><a href="blog/<%= i %>"><%= i %></a></li>
                            <% } %>
                            
                            <% if(parseInt(currentPage)+1<=nbPage){ %>
                            <li>
                              <a href="blog/<%= parseInt(currentPage)+1 %>" aria-label="Next">
                                <span aria-hidden="true">Page suivante</span>
                              </a>
                            </li>
                            <% } %>
                          </ul>
                        <% }else if(iscategory == 'category'){%>
                                <ul class="pagination">
                                    <% if(currentPage-1>0){ %>
                                    <li>
                                      <a href="blog/category/<%= thiscategory %>/<%= currentPage-1 %>" aria-label="Previous">
                                        <span aria-hidden="true">Page précédente</span>
                                      </a>
                                    </li>
                                    <% } %>
                                    <% for(var i=1; i<= nbPage ; i++){ %>
                                  
                                        <li <%if(i == currentPage){ %> class="active" <% } %> ><a href="blog/category/<%= thiscategory %>/<%= i %>"><%= i %></a></li>
                                    <% } %>
                                    
                                    <% if(parseInt(currentPage)+1<=nbPage){ %>
                                    <li>
                                      <a href="blog/category/<%= thiscategory %>/<%= parseInt(currentPage)+1 %>" aria-label="Next">
                                        <span aria-hidden="true">Page suivante</span>
                                      </a>
                                    </li>
                                    <% } %>
                                </ul>
                        <% } %>
                    </div>  
                </div>
            </div>

            <div class="col col-md-3">
                <div class="blockrightcol">
                    <h4 class="calendrier">Calendrier</h4>
                    <div id="calendar"></div>
                </div>
                <div class="blockrightcol">
                    <h3>Les plus vues</h3>
                    <ul>
                        <% for(var i in mostseen){ %> 
                            <li>
                                <a href="blog/article/<%= mostseen[i].id %>/<%= mostseen[i].rewriteurl %>">
                                    
                                    <%= mostseen[i].title %>
                                </a>

                            </li>
                        <% } %> 
                    </ul>
                </div>
                <div class="blockrightcol">
                    <h3>Dernier articles</h3>
                    <ul>
                        <% for(var i in recent){ %> 
                            <li>
                                <a href="blog/article/<%= recent[i].id %>/<%= recent[i].rewriteurl %>">
                                    
                                    <%= recent[i].title %>
                                </a>

                            </li>
                        <% } %> 
                    </ul>
                </div>
                <div class="blockrightcol">
                    <h3>Catégories</h3>
                    <ul class="avecfleche">
                        <% for(var i in category){ %> 
                                <li><a href="blog/category/<%= category[i].id %>"><%= category[i].name %></a></li>
                            <% } %> 
                       
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>

    
<script>
    var category = <%- JSON.stringify(category) %>
    console.log(category);
    var mostseen = <%- JSON.stringify(mostseen) %>
    console.log(mostseen);
    var recent = <%- JSON.stringify(recent) %>
    console.log(recent);
    var articles = <%- JSON.stringify(articles) %>
    console.log(articles);
    var thiscategory = <%- JSON.stringify(thiscategory) %>
    console.log(thiscategory);

</script>