<body class="stretched BLOG">
<div id="wrapper" class="clearfix">

        

            <% include menu.ejs %>
        <!-- Page Title
        ============================================= -->
        <section id="page-title" class="">

            <div class="container clearfix">
                <h1><%- __('blog-title') %></h1>
                <span><%- __('blog-subtitle') %></span>
                <!-- <ol class="breadcrumb"> -->
                    <!-- <li><a href="#">Home</a></li> -->
                    <!-- <li class="active">Blog</li> -->
                <!-- </ol> -->
            </div>

        </section><!-- #page-title end -->
        

<script type="text/javascript">

var articles = <%- JSON.stringify(articles) %>;
        console.log(articles);
var recent = <%- JSON.stringify(recent) %>;
        console.log(recent);
var popular = <%- JSON.stringify(popular) %>;
        console.log(popular);
</script>
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Post Content
                    ============================================= -->
                    <div class="postcontent nobottommargin clearfix">

                        <!-- Posts
                        ============================================= -->
                        <div id="posts" class="post-timeline clearfix">

                            <div class="timeline-border"></div>


                            <% for(var i=0; i< articles.length ; i++){%>
                                  
                                 
                            <div class="entry clearfix">
                                <div class="entry-timeline">
                                     <%- moment(articles[i].date).format('DD')  %><span><%- moment(articles[i].date).format('MMM')  %></span>
                                    <div class="timeline-divider"></div>
                                </div>
                                <div class="entry-image">
                                <% if(articles[i].video && articles[i].publishVideo){%>
                                     <%- articles[i].video  %> 
                                <% }else if(articles[i].images.length == 1){%>
                                        <a href="article/<%- articles[i].id %>/<%- articles[i].rewriteurl%>" ><img class="image_fade" src="file/image/originalsize/<%-articles[i].images[0].img.filename %>" alt="<%-articles[i].images[0].img.alt %>"></a>
                                    

                                 <%} else if(articles[i].images.length > 1){%>
                                        <div class="fslider" data-arrows="false" data-animation="slide" data-slideshow="false">
                                        <div class="flexslider">
                                            <div class="slider-wrap">
                                                 <% for(var j=0; j< articles[i].images.length ; j++){%>
                                                    <% if(articles[i].images[j].img){%>
                                                      
                                                        <div class="slide" ><a href="article/<%- articles[i].id %>/<%- articles[i].rewriteurl %>"><img src="file/image/originalsize/<%- articles[i].images[j].img.filename %>" alt=""></a></div>
                                                    <%}%>
                                                 <%}%>
                                            </div>
                                        </div>
                                    </div>
                                <%} %>
                                </div>


                                
                                
                                <div class="entry-title">
                                    <h2><a href="article/<%- articles[i].id %>/<%- articles[i].rewriteurl%>"><%- articles[i].title  %></a></h2>
                                </div>
                                <ul class="entry-meta clearfix">
                                    
                                    <% if(articles[i].category){%>
                                        <li><i class="icon-folder-open"></i> <a href="#"> <%- articles[i].category.name %> </a></li>
                                    <%}%>
                                    <% if(articles[i].comments.length){%>
                                        <li><a href="article/<%- articles[i].id %>/<%- articles[i].rewriteurl%>"><i class="icon-comments"></i> <%-articles[i].comments.length %> <%- __('comment') %><% if(articles[i].comments.length>1){%>s<%}%></a></li>
                                    <%}%>
                                </ul>
                                <div class="entry-content">
                                    <%- marked(articles[i].content) %>
                                    <a href="article/<%- articles[i].id %>/<%- articles[i].rewriteurl%>"class="more-link"><%- __('readmore') %></a>
                                </div>
                            </div>

                            <%}%>


                            

                        </div><!-- #posts end -->

                    </div><!-- .postcontent end -->

                   <% include sidebar.ejs %>

                </div>

            </div>

        </section><!-- #content end -->

        <% include footer.ejs %>

    </div><!-- #wrapper end -->

</body>