<div class="container-wrapper navigation fixed">
        <nav class="navbar navbar-default" role="navigation">
        
            <div class="container">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/front/logoline.png" style="height:50px; margin-top:0px" />
                    </a>
                    <ul class="mini"></ul><!-- mobile navigation -->
                </div><!-- .navbar-header -->
                
                <div class="collapse navbar-collapse">
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="/"><%= __('Home') %></a></li>
                            <li class=""><a href="/portfolio"><%= __('Portfolio') %></a></li>
                            <li class="active"><a href="/blog"><%= __('Blog') %></a></li>
                            <li class=""><a href="/contact"><%= __('Contact') %></a></li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="container" style="position:relative;">
                <div class="bottombordernavbar "></div>
            </div>
        </nav>
    </div>
    <div id="nav-ends"></div>
    
    
   
    <section class="content-section low-rider margintop blog">
        <div class="container">
            <div class="row">
            
                <div class="col-lg-9">
                    <% if(thiscategory && thiscategory.imgpath){%>
                        <div style="margin-bottom:20px;">
                            <img src="file/image/thumbs/<%= thiscategory.imgpath %>" width="100%" alt="<%= thiscategory.title %>">
                        </div>
                    <%}%>    
                    <% for(var i in articles){ %> 
                        <div class="blog anim fadeInLeft">
                           
                                <span class="image">
                            
                                     <% if(articles[i].publishVideo==true && articles[i].video){ %>
                                        <div class="pretty-embed" data-pe-videoid="<%= articles[i].video %>"></div>
                                        <%}else if(articles[i].img) { %>
                                            <img src="/file/image/originalsize/<%= articles[i].img.filename %>" alt="<%= articles[i].img.alt %>"/>
                                        <% } %>
                                </span>

             
                            <div class="date" >
                                <a  class="day" title="<%- moment(articles[i].date).fromNow() %>">
                                    <%- moment(articles[i].date).format('D') %>
                                </a>
                                <a  class="month" title="<%- moment(articles[i].date).format('YYYY') %>" >
                                    <%- moment(articles[i].date).format('MMM') %>
                                </a>
                            </div><!-- .date -->
                            
                            <span class="title-desc">
                                <h3><%= articles[i].title %></h3>
                                <ul class="meta">
                                    <% if( articles[i].author ){%> 
                                        <% if(articles[i].author.usename==true){%> 
                                        <li><i class="fa fa-user"></i><%= articles[i].author.name %></li>
                                        <% }else{ %>
                                        <i class="fa fa-user"></i><%= articles[i].author.pseudo %></li>
                                        <% } %>
                                    <% } %>
                                    <li><i class="fa fa-eye"></i><%= articles[i].nbView %></li>
                                    <li>
                                        <% for(var j in category){
                                          if(articles[i].category && category[j].id==articles[i].category.id){%>
                                                <a href="blog/category/<%= category[j].id  %>"><i class="fa fa-th-list"></i>
                                                <%= category[j].name %>
                                                </a></li>
                                          <% } %>
                                        <% } %>
                                    
                                    
                                </ul><!-- .meta -->
                            </span><!-- .title-desc -->
                            
                            <p>
                                <%- articles[i].shortcontent %>
                            </p>
                            
                            <a class="btn btn-sm btn-primary icon" data-wow-delay=".45s" role="button" href="blog/article/<%= articles[i].id %>/<%- articles[i].rewriteurl %>"><i class="fa fa-long-arrow-right"></i>Lire la suite</a>
                            
                            <div class="clearfix"></div>
                            
                        </div><!-- .blog -->
                    <% } %>    
                    
                     <ul class="pagination anim fadeInLeft" data-wow-delay="0.2s">
                        <li><a href="single.html">&laquo;</a></li>
                        <% var url = 'blog/'
                        if(thiscategory){
                            url= 'blog/category/'+thiscategory.id+'/'
                        }
                        for(var i=1; i<= nbPage ; i++){ %>
                          
                                <li <%if(i == currentPage){ %> class="active" <% } %> ><a href="<%= url %><%= i %>"><%= i %></a></li>
                        <% } %>
                       
                        <li><a href="single.html">&raquo;</a></li>
                    </ul><!-- .pagination -->
                    
                </div><!-- .col-lg-9 -->
                
                <div class="col-lg-3 sidebar">
                    
                    
                        <h4 class="anim fadeInRight">Catégories<i class="fa fa-th-list"></i></h4>
                     
                        <div class="anim fadeInRight">
                            <ul class="posts" >
                            <% for(var i in category){ %> 
                                <a href="blog/category/<%= category[i].id %>"><li><h6><%= category[i].name %></h6></li></a>
                            <% } %> 
                            </ul>
                        </div><!-- .text -->
                        
                        <h4 class="anim fadeInRight">
                            Les plus vues<i class="fa fa-bomb"></i>
                        </h4>
                        
                        <div class="anim fadeInRight">
                                    <ul class="posts">
                                         <% for(var i in mostseen){ %> 
                                            <li>
                                                <a href="blog/article/<%= mostseen[i].id %>/<%- mostseen[i].rewriteurl %>">
                                                    
                                                <h6>
                                                    <%= mostseen[i].title %>
                                                </h6>
                                                <cite><i class="fa fa-date"></i><%= moment(mostseen[i].date).fromNow() %></cite>
                                                <div class="clearfix"></div>
                                                </a>

                                            </li>
                                        <% } %> 
                                       
                                        
                                       
                                    </ul><!-- .posts-wrapper -->
                        </div>
                    </div>
                    
                </div><!-- .col-lg-4 .sidebar -->
                
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .content-section -->
    
<script>
    var category = <%- JSON.stringify(category) %>
    console.log(category);
 
    var thiscategory = <%- JSON.stringify(thiscategory) %>
    console.log(thiscategory);
    var articles = <%- JSON.stringify(articles) %>
    console.log(articles);
    var thiscategory = <%- JSON.stringify(thiscategory) %>
    console.log(thiscategory);

</script>