
   <div class="container-wrapper navigation fixed">
        <nav class="navbar navbar-default" role="navigation">
        
            <div class="container">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/front/logoline.png" style="height:50px; margin-top:0px" />
                    </a>
                    <ul class="mini"></ul><!-- mobile navigation -->
                </div><!-- .navbar-header -->
                
                <div class="collapse navbar-collapse">
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="/"><%= __('Home') %></a></li>
                            <li class=""><a href="/portfolio"><%= __('Portfolio') %></a></li>
                            <li class=""><a href="/blog"><%= __('Blog') %></a></li>
                            <li class="active"><a href="/contact"><%= __('Contact') %></a></li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="container" style="position:relative;">
                <div class="bottombordernavbar "></div>
            </div>
        </nav>
    </div>
    
  
    <div id="nav-ends"></div>
    
   
    
    
   	<section class="content-section contactmap">
        <div class="container">
        	<div class="row">
       			<div class="col-lg-12 anim fadeInDown" data-wow-delay="0.25s">
                    <p>
                        <%= __('Contact-text') %>
                    </p>
                </div><!-- .col-lg-12 -->
            </div><!-- .row -->
            <div class="row">
            	<div class="col-lg-12 anim fadeInDown" data-wow-delay="0.45s">
            		<div id="gmap" class="gmap"></div>
                    <div class="shadow-lg"></div>
                </div><!-- .col-lg-12 -->
            </div><!-- .row -->
    	</div>
    </section><!-- .content-section -->
    
    <section class="content-section form contact style-2">
    	<div class="container">
        	<div class="row">
            
                <form target="#" name="contact">
                    <div class="col-md-8 anim fadeInLeft">
                    
                        <span class="input-group tight">
                            <i class="fa fa-user"></i>
                            <input type="text" name="contactName" id="contactName" class="lg" placeholder="<%- __('form-nom') %>" />
                        </span><!-- .input-group -->
                        
                        <span class="input-group tight second">
                            <i class="fa fa-envelope"></i>
                            <input type="text" name="contactEmail" id="contactAddress" class="lg" placeholder="<%- __('form-email') %>" />
                        </span><!-- .input-group -->
                        
                        <span class="input-group">
                            <i class="fa fa-book"></i>
                            <input type="text" name="contactSubject" id="contactSubject" class="lg" placeholder="<%- __('form-objet') %>" />
                        </span><!-- .input-group -->
                        
                        <span class="input-group">
                            <textarea name="contactMessage" id="contactMessage" class="lg" placeholder="<%- __('form-message') %>"></textarea>
                        </span><!-- .input-group -->
                        
                        <span id="message"></span>
                        
                        <span class="input-group">
                            <a href="#" type="button" class="btn btn-primary" id="submit_contact" data-loading-text="ENVOI..."><%- __('Envoyer') %></a>
                        </span><!-- .input-group -->
                        
                    </div><!-- .col-lg-8 -->
                    
                    <div class="col-md-4">
                    	<ul class="info-list">
                        
                        	<li class="anim fadeInRight" data-wow-delay="0.15s">
                            	<i class="fa fa-map-marker"></i>
                                <span>
                                	<p>
                                        <%- __('adresse') %>
                                    </p>
                                </span>
                            </li>
                            
                            <li class="anim fadeInRight"  data-wow-delay="0.25s">
                            	<i class="fa fa-phone"></i>
                                <span>
                                    <p>
                                        <%- __('tel') %>
                                    </p>
                                </span>
                            </li>
                            
                            <!-- <li class="hours anim fadeInRight" data-wow-delay="0.35s">
                            	<i class="fa fa-clock-o"></i>
                                <span>
                                    <article><cite>Fri-Mon:</cite>	10am - 10pm</article><br />
                                    <article><cite>Saturday:</cite>	12am - 8pm</article><br />
                                    <article><cite>Sunday:</cite>	Closed</article>
                                    <p></p>
                                </span>
                            </li> -->
                            
                        </ul><!-- .info-list -->
                    </div><!-- .col-lg-4 -->
                </form>
                
            </div><!-- .row -->
    	</div><!-- .container -->
    	
        <span id="message_sent"><i class="fa-check fa"></i></span><!-- jQuery display of giant checkmark -->	
        
    </section><!-- .content-section .form -->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script language="javascript" src="js/front/gmap3.js"></script>
<script>
	$(document).ready(function() {
		$("#gmap").gmap3({
			marker: {
				//latLng: [38.897838, -77.036512], /** You can use lat/long pos **/
				address:"55 Rue Paul Doucet, 02400 Château-Thierry", // Or you can just type in the address
				options: {draggable: true},
				events: {
					dragend: function (marker) {
						$(this).gmap3({
							getaddress: {
								latLng: marker.getPosition(),
								callback: function (results) {
									var map = $(this).gmap3("get"),
										infowindow = $(this).gmap3({
											get: "infowindow"
										}),
										content = results && results[1] ? results && results[1].formatted_address : "no address";
									if (infowindow) {
										infowindow.open(map, marker);
										infowindow.setContent(content);
									} else {
										$(this).gmap3({
											infowindow: {
												anchor: marker,
												options: {
													content: content
												}
											}
										});
									}
								}
							}
						});
					}
				}
			},
			map: {
				options: {
					zoom: 16,
					scrollwheel: false
				}
			}
		});
	});
	
	// -->
	</script>
