
        <header id="header" class="full-header static-sticky" data-sticky-class="not-dark" data-sticky-offset="0">

            <div id="header-wrap">

                <div class="container clearfix">

                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <!-- <a href="/" class="standard-logo" ><h1 style="padding-top: 20px">logo AAVO</h1></a> -->
                        <a href="/" class="standard-logo" data-dark-logo="images/logo_beton_bg"><img src="images/logo_beton_bg.jpg" alt="Canvas Logo"></a>
                        <!-- <a href="/" class="retina-logo" data-dark-logo="images/logo-Elisabethhours-white.png"><img src="images/logo-Elisabethhours-white.png" alt="Canvas Logo"></a> -->
                    </div><!-- #logo end -->

                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu"  class="sub-title">

                        <ul  data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
                            <li class="mega-menu<% if(menu=='home'){%> active <% } %>" ><a href="/" data-href="#section-about"><div><%- __('Home') %></div><span>AAVO Bienvenue</span></a></li>
                            <li class="mega-menu<% if(menu=='about'){%> active <% } %>" ><a href="/about" data-href="#section-about"><div><%- __('About') %></div><span>A propos de AAVO</span></a></li>
                            <li class="mega-menu<% if(menu=='portfolio'){%> active <% } %>" ><a href="portfolio" data-href="#section-works"><div><%- __('Works') %></div><span>Nos plus beaux travaux</span></a></li>
                            <li class="mega-menu<% if(menu=='blog'){%> active <% } %>" ><a href="blog" data-href="#section-blog"><div><%- __('News') %></div><span>L'actulité de AAVO</span></a></li>
                            <li class="mega-menu<% if(menu=='contact'){%> active <% } %>" ><a href="contact" data-href="#section-contact"><div><%- __('Contact') %></div><span>Nous contactez</span></a></li>
                        </ul>

                    </nav><!-- #primary-menu end -->
                    
                </div>

            </div>

        </header>