<!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <% include header.ejs %>


        <!-- Slider
        ============================================= -->
        
        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">
                <div class="container bottommargin topmargin common-height ">
                <div class="fluid-width-video-wrapper" style="">
                    <div class="video-wrap bottommargin-lg topmargin">
                    <video poster="images/aavo.jpg" preload="auto"  autoplay loop control="true">
                        <source src='aavo.webm' type='video/webm' />
                        <source src='aavo.mp4' type='video/mp4' />
                    </video>
                    <div class="video-overlay" style="background-color: rgba(0,0,0,0.2);"></div>
                </div>
                </div>
                </div>
                <script type="text/javascript">

                
                    jQuery(window).load(function(){


                        $('.video-wrap').click(function() {
                            console.log('click');
                                $(this).find('video').get(0).paused ? $(this).find('video').get(0).play() : $(this).find('video').get(0).pause();
                        });


                    });

                </script>
                <!-- Portfolio Items
                ============================================= -->
                <div id="portfolio" class="portfolio-nomargin portfolio-full portfolio-masonry mixed-masonry clearfix">

                    <article class="portfolio-item pf-media pf-icons wide">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/1.jpg" alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Inconnu') %></a></h3>
                                    <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>


                    <article class="portfolio-item pf-illustrations">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/4.jpg" alt="Locked Steel Gate">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Caméléon') %></a></h3>
                                    <!-- <span><a href="#">Illustrations</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-uielements">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/5.jpg" alt="Mac Sunglasses">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Mydibel') %></a></h3>
                                    <!-- <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/6.jpg" alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Parc Dauphin') %></a></h3>
                                    <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-uielements pf-icons">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/7.jpg" alt="Backpack Contents">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Caméléon') %></a></h3>
                                    <!-- <span><a href="#">UI Elements</a>, <a href="#">Icons</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="portfolio-item pf-media pf-icons wide">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/3.jpg" alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('CHM') %></a></h3>
                                    <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="portfolio-item pf-uielements pf-media wide">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/2.jpg" alt="Console Activity">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Schietse') %></a></h3>
                                    <!-- <span><a href="#">UI Elements</a>, <a href="#">Media</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>
                    

                    

                </div><!-- #portfolio end -->

                <!-- Portfolio Script
                ============================================= -->
                <script type="text/javascript">

                    jQuery(window).load(function(){

                        var jQuerycontainer = jQuery('#portfolio');

                        jQuerycontainer.isotope({
                            transitionDuration: '0.65s',
                            masonry: {
                                columnWidth: jQuerycontainer.find('.portfolio-item:not(.wide)')[0]
                            }
                        });

                        jQuery('#page-menu a').click(function(){
                            jQuery('#page-menu li').removeClass('current');
                            jQuery(this).parent('li').addClass('current');
                            var selector = jQuery(this).attr('data-filter');
                            jQuerycontainer.isotope({ filter: selector });
                            return false;
                        });

                        jQuery(window).resize(function() {
                            jQuerycontainer.isotope('layout');
                            SEMICOLON.portfolio.portfolioDescMargin();
                        });

                        var t = setTimeout(function(){ SEMICOLON.portfolio.portfolioDescMargin(); }, 200);

                    });

                </script><!-- Portfolio Script End -->

                <div class="section notopmargin dark nobottommargin">
                    <div class="container col-padding center clearfix">

                        <div class="emphasis-title">
                            <h2 class="font-body t700" style="font-size: 54px;"><%- __('Home_Accueil_title') %></h2>
                            <p class="lead"><%- __('Home_Accueil_subtitle') %></p>
                        </div>

                        <a href="/portfolio" class="button button-border button-rounded t500"><%- __('see_all_project') %></a>

                    </div>
                </div>


                <div class="container clearfix topmargin-lg toppaddingsmall">

                    <div class="col_two_fifth nobottommargin">
                        <img src="images/10.jpg">
                    </div>

                    <div class="col_three_fifth nobottommargin col_last">

                        <div class="heading-block">
                            <h3>Spécialisé dans la construction d'hopitaux</h3>
                            <span>En effet, for de 10 ans d'expérience et 850.203.325 Euros de bugdget...</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>

                        <a href="#">Learn more &rarr;</a>

                    </div>

                    <div class="clear"></div><div class="line"></div>

                    <div class="col_three_fifth">

                        <div class="heading-block">
                            <h3>Stockage à froid</h3>
                            <span>Une expérience grandissante dans la construction de frigo géants.</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>

                        <a href="#">Learn more &rarr;</a>

                    </div>

                    <div class="col_two_fifth col_last">
                        <img src="images/main-bg.jpg">
                    </div> 

                    <div class="clear"></div><div class="line"></div>

                    <div class="col_two_fifth">
                        <img src="images/main-bg.jpg">
                    </div>

                    <div class="col_three_fifth  col_last">

                        <div class="heading-block">
                            <h3>Un savoir faire Multigénérationel</h3>
                            <span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>

                        <a href="#">Learn more &rarr;</a>

                    </div>

                    <div class="clear"></div><div class="line"></div>

                    <div class="col_three_fifth">

                        <div class="heading-block">
                            <h3>Impliqué dans l'Humanitaire</h3>
                            <span>Aprobénir, Soleil d'Afrique . . . . .</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero quod consequuntur quibusdam, enim expedita sed quia nesciunt incidunt accusamus necessitatibus modi adipisci officia libero accusantium esse hic, obcaecati, ullam, laboriosam!</p>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti vero, animi suscipit id facere officia. Aspernatur, quo, quos nisi dolorum aperiam fugiat deserunt velit rerum laudantium cum magnam excepturi quod, fuga architecto provident, cupiditate delectus voluptate eaque! Sit neque ut eum, voluptatibus odit cum dolorum ipsa voluptates inventore cumque a.</p>

                        <a href="#">Learn more &rarr;</a>

                    </div>

                    <div class="col_two_fifth col_last">
                        <img src="images/main-bg.jpg">
                    </div> 
                    
                </div>

                <div class="divider"></div>

                <div class="container clearfix topmargin" style="z-index: 4;">
                    <div class="heading-block center">
                        <h2>Last news</h2>
                        <!-- <span>We believe in Flexible Costing.</span> -->
                    </div>
                    <div class="col_one_third nobottommargin">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="images/services/1.jpg" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc">
                                <h3>Technologie du batiments<span class="subtitle">Une imprimante de maison 3D</span></h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
                                <a href="#">Learn more &rarr;</a>
                            </div>
                        </div>
                    </div>

                    <div class="col_one_third nobottommargin">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="images/services/2.jpg" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc">
                                <h3>Inauguration CHM <span class="subtitle">19/11/2009</span></h3>
                                <p>Quos, non, esse eligendi ab accusantium voluptatem. Maxime eligendi beatae, atque tempora ullam. Vitae delectus quia, consequuntur rerum molestias quo.</p>
                                <a href="#">Learn more &rarr;</a>
                            </div>
                        </div>
                    </div>

                    <div class="col_one_third nobottommargin col_last">
                        <div class="feature-box media-box">
                            <div class="fbox-media">
                                <img src="images/services/3.jpg" alt="Why choose Us?">
                            </div>
                            <div class="fbox-desc">
                                <h3>Boeuf Gras<span class="subtitle">Des festivité au service de l'humanitaire.</span></h3>
                                <p>Porro repellat vero sapiente amet vitae quibusdam necessitatibus consectetur, labore totam. Accusamus perspiciatis asperiores labore esse ab accusantium ea modi ut.</p>
                                <a href="#">Learn more &rarr;</a>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="container divcenter clearfix" style="z-index: 1;margin-top:-600px">

                    <div style="position: relative;" data-height-lg="624" data-height-md="518" data-height-sm="397" data-height-xs="242" data-height-xxs="154">
                        <img src="images/01.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="0" alt="Chrome">
                        <img src="images/02.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="200" alt="iPad">
                        <!-- <img src="images/services/fbrowser2.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeIn" data-delay="1200" alt="iPad"> -->
                    </div>
                </div>
                


            </div>

        </section><!-- #content end -->

        <% include footer.ejs %>

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
