<!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <% include header.ejs %>

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">

                <!-- Portfolio Items
                ============================================= -->
                <div id="portfolio" class="portfolio-nomargin portfolio-full portfolio-masonry mixed-masonry clearfix">

                    <article class="portfolio-item pf-media pf-icons wide">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/1.jpg" alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Crocodile Marin') %></a></h3>
                                    <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>


                    <article class="portfolio-item pf-illustrations">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/4.jpg" alt="Locked Steel Gate">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Baby red Dragon') %></a></h3>
                                    <!-- <span><a href="#">Illustrations</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-graphics pf-uielements">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/5.jpg" alt="Mac Sunglasses">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Portrait d\'Asie') %></a></h3>
                                    <!-- <span><a href="#">Graphics</a>, <a href="#">UI Elements</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="portfolio-item pf-media pf-icons">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/6.jpg" alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Portrait d\'Afrique') %></a></h3>
                                    <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>

                    <article class="portfolio-item pf-uielements pf-icons">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/7.jpg" alt="Backpack Contents">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Maman Rhino') %></a></h3>
                                    <!-- <span><a href="#">UI Elements</a>, <a href="#">Icons</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="portfolio-item pf-media pf-icons wide">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/3.jpg" alt="Open Imagination">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('Hatila le gorille') %></a></h3>
                                    <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="portfolio-item pf-uielements pf-media wide">
                        <div class="portfolio-image">
                            <a href="#">
                                <img src="images/2.jpg" alt="Console Activity">
                            </a>
                            <div class="portfolio-overlay">
                                <div class="portfolio-desc">
                                    <h3><a href="#"><%- __('La famille') %></a></h3>
                                    <!-- <span><a href="#">UI Elements</a>, <a href="#">Media</a></span> -->
                                </div>
                            </div>
                        </div>
                    </article>
                    

                    

                </div><!-- #portfolio end -->

                <!-- Portfolio Script
                ============================================= -->
                <script type="text/javascript">

                    jQuery(window).load(function(){

                        var jQuerycontainer = jQuery('#portfolio');

                        jQuerycontainer.isotope({
                            transitionDuration: '0.65s',
                            masonry: {
                                columnWidth: jQuerycontainer.find('.portfolio-item:not(.wide)')[0]
                            }
                        });

                        jQuery('#page-menu a').click(function(){
                            jQuery('#page-menu li').removeClass('current');
                            jQuery(this).parent('li').addClass('current');
                            var selector = jQuery(this).attr('data-filter');
                            jQuerycontainer.isotope({ filter: selector });
                            return false;
                        });

                        jQuery(window).resize(function() {
                            jQuerycontainer.isotope('layout');
                            SEMICOLON.portfolio.portfolioDescMargin();
                        });

                        var t = setTimeout(function(){ SEMICOLON.portfolio.portfolioDescMargin(); }, 200);

                    });

                </script><!-- Portfolio Script End -->

                <div class="section notopmargin dark">
                    <div class="container col-padding center clearfix">

                        <div class="emphasis-title">
                            <h2 class="font-body t700" style="font-size: 54px;"><%- __('Home_Accueil_title') %></h2>
                            <p class="lead"><%- __('Home_Accueil_subtitle') %></p>
                        </div>

                        <a href="/portfolio" class="button button-border button-rounded t500"><%- __('see_all_project') %></a>

                    </div>
                </div>

                


                <div class="row common-height clearfix presentation">

                    <div class="col-sm-5 col-padding" style="height: 549px; background: url(images/portrait.jpg) 50% 50% / cover no-repeat;"></div>

                    <div class="col-sm-7 col-padding" style="height: 549px;">
                        <div>
                            <div class="heading-block">
                                <span class="before-heading color"><%- __('Artiste & Sculpteur') %></span>
                                <h3>Elisabeth Hours</h3>
                            </div>

                            <div class="row clearfix">

                                <div class="col-md-6">
                                    <p><%- __('text-prez-p1') %></p>
                                    <p><%- __('text-prez-p2') %></p>
                                   <!--  <a href="#" class="social-icon inline-block si-small si-light si-rounded si-facebook">
                                        <i class="icon-facebook"></i>
                                        <i class="icon-facebook"></i>
                                    </a>
                                    <a href="#" class="social-icon inline-block si-small si-light si-rounded si-twitter">
                                        <i class="icon-twitter"></i>
                                        <i class="icon-twitter"></i>
                                    </a>
                                    <a href="#" class="social-icon inline-block si-small si-light si-rounded si-gplus">
                                        <i class="icon-gplus"></i>
                                        <i class="icon-gplus"></i>
                                    </a> -->
                                </div>

                                <div class="col-md-6">
                                    <ul class="skills">
                                        <li data-percent="<%- __('skill1-value') %>">
                                            <span><%- __('skill1') %></span>
                                            <div class="progress skills-animated" style="width: <%- __('skill1-value') %>%;">
                                                <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="<%- __('skill1-value') %>" data-refresh-interval="30" data-speed="1100"><%- __('skill1-value') %></span>%</div></div>
                                            </div>
                                        </li>
                                        <li data-percent="<%- __('skill2-value') %>">
                                            <span><%- __('skill2') %></span>
                                            <div class="progress skills-animated" style="width: <%- __('skill2-value') %>%;">
                                                <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="<%- __('skill2-value') %>" data-refresh-interval="30" data-speed="1100"><%- __('skill2-value') %></span>%</div></div>
                                            </div>
                                        </li>
                                        <li data-percent="<%- __('skill3-value') %>">
                                            <span><%- __('skill3') %></span>
                                            <div class="progress skills-animated" style="width: <%- __('skill3-value') %>%;">
                                                <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="<%- __('skill3-value') %>" data-refresh-interval="30" data-speed="1100"><%- __('skill3-value') %></span>%</div></div>
                                            </div>
                                        </li>
                                        <li data-percent="<%- __('skill4-value') %>">
                                            <span><%- __('skill4') %></span>
                                            <div class="progress skills-animated" style="width: <%- __('skill4-value') %>%;">
                                                <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="<%- __('skill4-value') %>" data-refresh-interval="30" data-speed="1100"><%- __('skill4-value') %></span>%</div></div>
                                            </div>
                                        </li>
                                        <li data-percent="<%- __('skill5-value') %>">
                                            <span><%- __('skill5') %></span>
                                            <div class="progress skills-animated" style="width: <%- __('skill5-value') %>%;">
                                                <div class="progress-percent"><div class="counter counter-inherit counter-instant"><span data-from="0" data-to="<%- __('skill5-value') %>" data-refresh-interval="30" data-speed="1100"><%- __('skill5-value') %></span>%</div></div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                        </div>
                    </div>

                </div>

                <div class="container divcenter clearfix">

                    <div class="heading-block center">
                        <h2><%- __('home_animaux_title') %></h2>
                        <span><%- __('home_animaux_subtitle') %></span>
                    </div>

                    <div style="position: relative;" data-height-lg="624" data-height-md="518" data-height-sm="397" data-height-xs="242" data-height-xxs="154">
                        <img src="images/ele.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="0" alt="Chrome">
                        <img src="images/rino.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeInUp" data-delay="200" alt="iPad">
                        <!-- <img src="images/services/fbrowser2.png" style="position: absolute; top: 0; left: 0;" data-animate="fadeIn" data-delay="1200" alt="iPad"> -->
                    </div>
                </div>
                


            </div>

        </section><!-- #content end -->

        <% include footer.ejs %>

    </div><!-- #wrapper end -->

    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>
