
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>madmin</title>

    <!--STYLES-->
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/bower_components/animate.css/animate.min.css">
    <link rel="stylesheet" href="/css/menu.css">
    <link rel="stylesheet" href="/css/skel.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/style-wide.css">
    <link rel="stylesheet" href="/styles/front/animate.css">
    <link rel="stylesheet" href="/styles/front/bootstrap.css">
    <link rel="stylesheet" href="/styles/front/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/front/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/front/isotope.css">
    <link rel="stylesheet" href="/styles/front/lightbox.css">
    <link rel="stylesheet" href="/styles/front/masterslider/masterslider.css">
    <link rel="stylesheet" href="/styles/front/masterslider/skins/black-1/style.css">
    <link rel="stylesheet" href="/styles/front/masterslider/skins/black-2/style.css">
    <link rel="stylesheet" href="/styles/front/masterslider/skins/contrast/style.css">
    <link rel="stylesheet" href="/styles/front/masterslider/skins/default/style.css">
    <link rel="stylesheet" href="/styles/front/masterslider/skins/light-2/style.css">
    <link rel="stylesheet" href="/styles/front/masterslider/skins/light-3/style.css">
    <link rel="stylesheet" href="/styles/front/masterslider/skins/light-4/style.css">
    <link rel="stylesheet" href="/styles/front/masterslider/skins/light-5/style.css">
    <link rel="stylesheet" href="/styles/front/masterslider/skins/light-6/style.css">
    <link rel="stylesheet" href="/styles/front/masterslider/skins/metro/style.css">
    <link rel="stylesheet" href="/styles/front/nivo-slider.css">
    <link rel="stylesheet" href="/styles/front/owl.carousel.css">
    <link rel="stylesheet" href="/styles/front/owl.transitions.css">
    <link rel="stylesheet" href="/styles/front/settings.css">
    <link rel="stylesheet" href="/styles/front/style.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->
</head>

  <body >

    <h1 class="ms-layer center" id="logo" ><center><img src="images/front/streetlogo.svg" class="biglogo" style="user-select:none;max-height:100%;" alt="Streetcolors logo" onload="loadlogo()" /><img style="display:block;user-select:none;margin-top:-20px" src="images/front/graffiti.png" class="hidden-xs" alt="Graffiti logo"  /></center></h1>
    <p class="baseline"><%= __('baseline') %></p>
    <div class="slider-wrapper">
        
        <!-- masterslider -->
        <div class="master-slider" id="masterslider" data-swipe="false" data-grabCursor="false" data-height="fullscreen" data-fill-mode="fill">
            
            <!-- Slide 1 -->
            <div class="ms-slide slide-1" style="z-index: 10" data-delay="8" >
                
                <!-- slide background -->
                <img  src="images/front/1er-page-1.jpg" alt="Street colors bg 1" />
                
              
                
               
                <h2 class="ms-layer center hidden-xs" style="font-size : 2em;text-align:center; bottom:60px;"
                    data-effect="right(100)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo"
                ><%= __('slider-text-1') %></h2>
                
                
             
            </div>
            <!-- end of slide -->
            
            <!-- slide 2 -->
            <div class="ms-slide slide-2 hidden-xs" style="z-index: 11"  data-delay="8">
          
                <!-- slide background -->
                <img  src="images/front/1er-page-2.jpg" alt="Street colors bg 2" />
                  
                 
                  <h2 class="ms-layer hidden-xs" style="font-size : 2em;text-align:center; bottom:60px;"
                    data-effect="right(100)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo"
                ><%- __('slider-text-2') %></h2>
               
                
                
                
            </div>
            <!-- end of slide -->
            
            <!-- slide 3 -->
            <div class="ms-slide slide-video" style="z-index: 9" data-delay="8">
                 <img  src="images/front/1er-page-3.jpg" alt="Street colors bg 3" />
            <!--        <h2 class="ms-layer hidden-xs" style="left:190px; top:215px;"
                    data-effect="right(200)"
                    data-duration="2500"
                    data-delay="100"
                    data-ease="easeOutExpo"
                ></h2> -->
                
                <h2 class="ms-layer center hidden-xs"  style="font-size : 2em;text-align:center; bottom:60px;" 
                    data-effect="right(100)"
                    data-duration="2500"
                    data-delay="0"
                    data-ease="easeOutExpo"
                ><%= __('slider-text-3') %></h2>
               
                
            </div>
            <!-- end of slide -->
            
        </div> <!-- end of masterslider -->

         
        <a href="#firstSection" class="hidden-xs"><i class="fa fa-chevron-down" id="go-down"></i></a>
        
    </div><!-- end of slider-wrapper -->
    
    <span id="nav-begins"></span><!-- place before navigation bar-->
    <div class="container-wrapper navigation navigationhome">
        <nav class="navbar navbar-default" role="navigation">
        
            <div class="container">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/front/logoline.png" style="height:50px; margin-top:0px" />
                    </a>
                    <ul class="mini"></ul><!-- mobile navigation -->
                </div><!-- .navbar-header -->
                
                <div class="collapse navbar-collapse">
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="/"><%= __('Home') %></a></li>
                            <li class=""><a href="/portfolio"><%= __('Portfolio') %></a></li>
                            <li class=""><a href="/blog"><%= __('Blog') %></a></li>
                            <li class=""><a href="/contact"><%= __('Contact') %></a> </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            <div class="container" style="position:relative;">
                <div class="bottombordernavbar "></div>
            </div>
        </nav>
    </div>
   
    <section class="content-section" id="firstSection">
        <div class="container">
            <p class="anim fadeInUp">
                <%= __('text-prez') %>
                
            </p>
        </div>
    
        <div class="container">
            <h1 class="wow  fadeInDown"><i class="fa fa-gear"></i> <%- __('title-demarche') %> </h1>
            <p style="margin-bottom:100px"><%- __('text-demarche') %> </p>
        </div>
        
        <div class="container">
            
            <div class="col-md-3 col-sm-6 feature wow  fadeInLeft" data-wow-delay="0.25s">
                <i class="fa fa-user" style="padding:auto 5px;"></i>
                <div class="content">
                    <h4> <%- __('Particuliers') %></h4>
                    <p><%- __('text-Particuliers') %></p>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 feature wow  fadeInDown" data-wow-delay="0.25s">
                <i class="fa fa-eur"></i>
                <div class="content">
                    <h4> <%- __('Professionnels') %></h4>
                    <p><%- __('text-Professionnels') %></p>
                </div>
            </div>
            
            <div class="col-md-3 col-sm-6 feature wow  fadeInRight" data-wow-delay="0.25s">
                <i class="fa fa-warning"></i>
                <div class="content">
                    <h4> <%- __('Evenementiel') %></h4>
                    <p><%- __('text-Evenementiel') %></p>
                </div>
            </div>

            <div class="col-md-3 col-sm-6 feature wow fadeInRight" data-wow-delay="0.25s">
                <i class="fa fa-graduation-cap"></i>
                <div class="content">
                    <h4> <%- __('Initiations') %></h4>
                    <p><%- __('text-Initiations') %></p>
                </div>
            </div>
            
            <!-- End of second row --> 
            
        </div>
    </section><!-- .feature-list -->
    
    
    
    
  
    <section class="content-section parallax-bg-1"  data-stellar-background-ratio="0" data-stellar-vertical-offset="-500">
        <span class="shadows"></span>
        <div class="bg-height"></div>
        <!-- <div class="video-wrapper">
            <video id="video1" class="video-js vjs-default-skin" poster="videos/RecordPlayer/poster.jpg" width="1600" height="901" muted="" autoplay="" loop="" preload="">
                <source src="videos/RecordPlayer/RecordPlayer.mp4" type='video/mp4' />
                <source src="videos/RecordPlayer/RecordPlayer.webm" type='video/webm' />
                <source src="videos/RecordPlayer/RecordPlayer.ogv" type='video/ogg' />
            </video>
        </div> -->
      
    </section>

    
    
    <section class="content-section team" >
            <div class="container">
                <h1><i class="fa fa-star"></i><%- __('title-color') %></h1>
                <p>
                    <%- __('text-team') %>
                </p>
            </div>
        <div class="overlay">
        
        <br>
        <br>
        <br>
        <div class="container-fluid bgwall">
            <div class="col-lg-12 wow fadeInDown">
            
                <div class="relative">
                    <!-- masterslider -->
                    <div class="master-slider wrapper" id="teamslider">
                    
                        <div class="ms-slide" data-member-id="1" >
                            <img src="images/front/design/blank.png" data-src="images/front/profilepicture/belge.jpg" alt="belge"/>
                            
                            <div class="ms-info">
                                <span class="name">Sebastien</span>
                                <span class="nameaka">aka Le belge</span>
                                <!-- <span class="position">Public Relations</span> -->
                            </div><!-- .ms-info -->
                        </div>
                        
                        <div class="ms-slide" data-member-id="2">
                            <img src="images/front/design/blank.png" data-src="images/front/profilepicture/jo.jpg" alt="jo"/>
                            
                            <div class="ms-info">
                                <span class="name">Djo </span>
                                <span class="nameaka">Toujours la</span>
                            </div><!-- .ms-info -->
                        </div>
                        
                        <div class="ms-slide" data-member-id="3">
                            <img src="images/front/design/blank.png" data-src="images/front/profilepicture/joachim.jpg" alt="joachim"/>
                            
                            <div class="ms-info">
                                <span class="name">Jo ou Akim </span>
                                <span class="nameaka">aka Touriste</span>
                            </div><!-- .ms-info -->
                        </div>
                        
                        <div class="ms-slide" data-member-id="4">
                            <img src="images/front/design/blank.png" data-src="images/front/profilepicture/jows.jpg" alt="jows"/>
                            
                            <div class="ms-info">
                                <span class="name">Julien</span>
                                <span class="nameaka">aka Jows</span>
                            </div><!-- .ms-info -->
                        </div>
                        
                        <div class="ms-slide" data-member-id="5">
                            <img src="images/front/design/blank.png" data-src="images/front/profilepicture/gamin.jpg" alt="gamin"/>
                            
                            <div class="ms-info">
                                <span class="name">Yannik</span>
                                <span class="nameaka">aka Gamin</span>
                            </div><!-- .ms-info -->
                        </div>
                        
                        <div class="ms-slide" data-member-id="6">
                            <img src="images/front/design/blank.png" data-src="images/front/profilepicture/audrick.jpg" alt="Audrick"/>
                            
                            <div class="ms-info">
                                <span class="name">Audric</span>
                                <span class="nameaka">aka Gamin</span>
                            </div><!-- .ms-info -->
                        </div>
                        
                        <div class="ms-slide" data-member-id="7">
                            <img src="images/front/design/blank.png" data-src="images/front/profilepicture/moltes.jpg" alt="moltes"/>
                            
                            <div class="ms-info">
                                <span class="name">Benoit</span>
                                <span class="nameaka">Aka Moltes</span>
                            </div><!-- .ms-info -->
                        </div>
                       
                    </div>
                      
                    <div class="ms-info" id="staff-info"></div>
                    <div class="ms-nav-prev"></div>
                    <div class="ms-nav-next"></div>
                </div><!-- .relative -->
                
            </div><!-- .col-lg-12 -->
            
            <div class="member-box-wrapper">
                
                 <!-- Person 1 Box -->
                <div class="member-box" id="1">
                   
                    <div class="color-wrapper">
                        <a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="images/front/profilepicture/belge.jpg" alt="Le belge" />
                        <strong>Le belge</strong>
                        <span>Secrétaire</span>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                        <h3>About Me</h3>
                        <p>Après de nombreuses années, de dessins psychédéliques et abstraits peaufinés en cours de dessins, Belge découvre la lettre et le graffiti. Grand fan de courbes et de mouvements, il illustre ses flops à l’aide de couleurs simples et flashy. Vagabond inconditionnel, il parcourt le monde, toujours prêt à partager sa passion auprès des jeunes (et moins jeunes) et montrer ses lettres au public.</p>
                         
                        <h3>Skills</h3>
                        <ul class="bars">
                            <li>
                                <strong>Lettrage</strong>
                                <span>90%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                                <strong>Football</strong>
                                <span>57%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="57"></div></div>
                            </li>
                            <li>
                                <strong>Paysage</strong>
                                <span>74%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="74"></div></div>
                            </li>
                            <li>
                                <strong>Baroudage autour du monde en solitaire</strong>
                                <span>92%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="92"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div>
                <div class="member-box" id="2">
                   
                    <div class="color-wrapper">
                        <a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="images/front/profilepicture/jo.jpg" alt="jo" />
                        <strong>Djo Toujours la</strong>
                        <span>membre</span>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                        <h3>About Me</h3>
                        <p>Mordu de la culture hip hop, il est l’un des fondateurs de l’association et surtout son ancien président pendant les deux premières années. Il aime l’image, la sape et le selfie donc… La photo !! Toujours partant pour suivre l’équipe, armé de son appareil photo, sa bonne humeur et sa convivialité. Il est souvent le lien entre vous et nous.</p>
                         
                       <h3>Skills</h3>
                        <ul class="bars">
                            <li>
                                <strong>Lettrage</strong>
                                <span>90%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                                <strong>Football</strong>
                                <span>57%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="57"></div></div>
                            </li>
                            <li>
                                <strong>Paysage</strong>
                                <span>74%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="74"></div></div>
                            </li>
                            <li>
                                <strong>Baroudage autour du monde en solitaire</strong>
                                <span>92%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="92"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->
                
                
                <div class="member-box" id="3">
                   
                    <div class="color-wrapper">
                        <a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="images/front/profilepicture/joachim.jpg" alt="joachim" />
                        <strong>Jo ou Akim</strong>
                        <span>membre</span>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                        <h3>About Me</h3>
                        <p>Enfant des plateaux de cinéma, tout jeune il parcourt le monde en suivant les tournages de films. C’est sur l’un d’entre eux qu’il rencontre EKO (BBC OPS)  et qu’il découvre le graffiti. Depuis il travaille sans relâche sa calligraphie. Aujourd’hui à Paris, il partage son art sur de gros murs avec des anciens du graffiti français, toujours à la recherche de nouveauté à vous proposer.</p>
                         
                       <h3>Skills</h3>
                        <ul class="bars">
                            <li>
                                <strong>Lettrage</strong>
                                <span>90%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                                <strong>Football</strong>
                                <span>57%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="57"></div></div>
                            </li>
                            <li>
                                <strong>Paysage</strong>
                                <span>74%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="74"></div></div>
                            </li>
                            <li>
                                <strong>Baroudage autour du monde en solitaire</strong>
                                <span>92%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="92"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->

                 <div class="member-box" id="4">
                   
                    <div class="color-wrapper">
                        <a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="images/front/profilepicture/jows.jpg" alt="jows" />
                        <strong>Jows</strong>
                        <span>Secrétaire et sosie officiel de Cambiasso</span>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                        <h3>About Me</h3>
                        <p>Bercé entre le hip hop du Wu Tang et des chiffres et des lettres, il est l’encyclopédie du groupe. Très attaché à proposer ses idées dans nos projets, il a l’œil dans nos graffs, c’est un critique objectif. Mais dommage qu’il ne sache seulement tenir un crayon pour 1, 2, 3….</p>
                         
                       <h3>Skills</h3>
                        <ul class="bars">
                            <li>
                                <strong>Lettrage</strong>
                                <span>90%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                                <strong>Football</strong>
                                <span>57%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="57"></div></div>
                            </li>
                            <li>
                                <strong>Paysage</strong>
                                <span>74%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="74"></div></div>
                            </li>
                            <li>
                                <strong>Baroudage autour du monde en solitaire</strong>
                                <span>92%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="92"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->
                
                

            <div class="member-box" id="5">
                   
                    <div class="color-wrapper">
                        <a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="images/front/profilepicture/gamin.jpg" alt="gamin" />
                        <strong>Gamin</strong>
                        <span>Président et doyen du groupe</span>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                        <h3>About Me</h3>
                        <p>Refoulé des concours d’entrée en école d’arts plastiques et dernier de la classe quand il avait un crayon dans la main. Gamin se réfugie derrière un ordinateur, une sourie à la main depuis maintenant une dizaine d’années. Graphiste de métier, votre communication visuelle n’a plus de secret pour lui.</p>
                         
                       <h3>Skills</h3>
                        <ul class="bars">
                            <li>
                                <strong>Lettrage</strong>
                                <span>90%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                                <strong>Football</strong>
                                <span>57%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="57"></div></div>
                            </li>
                            <li>
                                <strong>Paysage</strong>
                                <span>74%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="74"></div></div>
                            </li>
                            <li>
                                <strong>Baroudage autour du monde en solitaire</strong>
                                <span>92%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="92"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->
                
                
            </div><!-- .member-box-wrapper -->
            <div class="member-box" id="6">
                   
                    <div class="color-wrapper">
                        <a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="images/front/profilepicture/audrick.jpg" alt="Audrick" />
                        <strong>Audric</strong>
                        <span>membre</span>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                        <h3>About Me</h3>
                        <p>BLa BLa , je n'ai pas voulu écrire mon texte . . . .</p>
                         
                       <h3>Skills</h3>
                        <ul class="bars">
                            <li>
                                <strong>Lettrage</strong>
                                <span>90%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                                <strong>Football</strong>
                                <span>57%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="57"></div></div>
                            </li>
                            <li>
                                <strong>Paysage</strong>
                                <span>74%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="74"></div></div>
                            </li>
                            <li>
                                <strong>Baroudage autour du monde en solitaire</strong>
                                <span>92%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="92"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->
                
                
 
            <div class="member-box" id="7">
                   
                    <div class="color-wrapper">
                        <a href="#" id="close"><i class="fa fa-times"></i></a>
                        <img src="images/front/profilepicture/moltes.jpg" alt="moltes" />
                        <strong>Moltes</strong>
                        <span>membre</span>
                    </div><!-- .color-wrapper -->
                    
                    <div class="clear-wrapper">
                        <h3>About Me</h3>
                        <p> Frustré depuis le collège, à redessiner ses comics préférés dans la marge de ces copies doubles, c’est après la rencontre de deux graffeurs qu’il décide de lâcher ses copies et commence à s’exprimer sur de grandes surfaces. Fresque après fresque, il s’oriente vers le mouvement «  No model » et donne naissance à ses persos favoris R’boy, ainsi que Monkey qu’il détourne dans toutes ses formes.</p>
                         
                       <h3>Skills</h3>
                        <ul class="bars">
                            <li>
                                <strong>Lettrage</strong>
                                <span>90%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="90"></div></div>
                            </li>
                            <li>
                                <strong>Football</strong>
                                <span>57%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="57"></div></div>
                            </li>
                            <li>
                                <strong>Paysage</strong>
                                <span>74%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="74"></div></div>
                            </li>
                            <li>
                                <strong>Baroudage autour du monde en solitaire</strong>
                                <span>92%</span>
                                <div class="progress"><div class="progress-bar" role="progressbar" data-value="92"></div></div>
                            </li>
                        </ul>
                       
                    </div><!-- .clear-wrapper -->
                    <div class="shadow-lg"></div><!-- Remove this to remove the bottom shadow -->  
                </div><!-- .member-box -->
                
                
            </div><!-- .member-box-wrapper -->
        </div><!-- .container -->
        </div>

    </section><!-- .team -->

    <section class="content-section wow fadeInDown contact  form">
        <div class="container">
            <h1><i class="fa fa-pencil-square-o"></i><%- __('title-contact') %></h1>
            <p>
                <%- __('text-contact') %>
            </p>
        </div>
    
        <div class="container">
            
            <span id="message"></span><!-- remove #message to stop floating jQuery messages -->
            
            <form target="#" name="contact">
                <div class="col-lg-5 wow fadeInLeft">
                
                    <span class="input-group">
                        <i class="fa fa-user"></i>
                        <input type="text" name="contactName" id="contactName" class="lg" placeholder="<%- __('form-nom') %>" />
                    </span><!-- .input-group -->
                    
                    <span class="input-group">
                        <i class="fa fa-envelope"></i>
                        <input type="text" name="contactEmail" id="contactAddress" class="lg" placeholder="<%- __('form-email') %>" />
                    </span><!-- .input-group -->
                    
                    <span class="input-group">
                        <i class="fa fa-book"></i>
                        <input type="text" name="contactSubject" id="contactSubject" class="lg" placeholder="<%- __('form-objet') %>" />
                    </span><!-- .input-group -->
                    
                </div><!-- .col-5 -->
                
                <div class="col-lg-7 wow fadeInRight">
                
                    <span class="input-group">
                        <textarea name="contactMessage" id="contactMessage" class="lg" placeholder="<%- __('form-message') %>"></textarea>
                    </span><!-- .input-group -->
                    
                    <span class="input-group">
                        <button class="submit" id="submit_contact" data-loading-text="Envoi..."><%- __('Envoyer') %></button>
                    </span><!-- .input-group -->
                </div>
            </form>
            <div class="row" style="position: relative;pointer-events:none;">
                <span id="message_sent"><i class="fa-check fa"></i></span><!-- jQuery display of giant checkmark -->    
            </div>
        </div><!-- .container -->
        
        
    </section><!-- .content-section .form -->
    
 <section class="content-section partenaire">

        <div class="container">
            <h1>
            <!-- <i class="fa fa-pencil-square-o"></i> -->
            <span><%- __('Partenaires') %></span></h1>
            

            <div class="row">
                <div class="col-sm-4 col-xs-6"><img width="100%" src="/images/front/part/part-aero.png" alt="Partenaires aero"></div>
                <div class="col-sm-4 col-xs-6"><img width="100%" src="/images/front/part/part-alpha.png" alt="Partenaires alpha"></div>
                <div class="col-sm-4 col-xs-6"><img width="100%" src="/images/front/part/part-atal.png" alt="Partenaires atal"></div>
                <div class="col-sm-4 col-xs-6"><img width="100%" src="/images/front/part/part-eben.png" alt="Partenaires eben"></div>
                <div class="col-sm-4 col-xs-6"><img width="100%" src="/images/front/part/part-flow.png" alt="Partenaires flow"></div>
                <div class="col-sm-4 col-xs-6"><img width="100%" src="/images/front/part/part-jr.png" alt="Partenaires jr"></div>
            </div>
            
        </div><!-- .container -->
</section>    
 <section class="content-section reference">

        <div class="container">
            <h1>
            <!-- <i class="fa fa-pencil-square-o"></i> -->
            <span><%- __('References') %></span></h1>
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/4cb.jpg" alt="Référence 4cb"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/amicale.jpg" alt="Référence amicale"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/amien.jpg" alt="Référence amien"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/ariana.jpg" alt="Référence ariana"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/asniere.jpg" alt="Référence asniere"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/cap.jpg" alt="Référence cap"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/castelarme.jpg" alt="Référence castelarme"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/charly.jpg" alt="Référence charly"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/chateau-2.jpg" alt="Référence chateau"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/chato.jpg" alt="Référence chateau 2"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/chauny.jpg" alt="Référence chauny"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/coeur.jpg" alt="Référence coeur"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/confo.jpg" alt="Référence confo"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/cri.jpg" alt="Référence cri"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/jdlf.jpg" alt="Référence jdlf"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/laclique.jpg" alt="Référence laclique"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/langlet.jpg" alt="Référence langlet"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/laon.jpg" alt="Référence laon"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/ld.jpg" alt="Référence ld"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/lu.jpg" alt="Référence lu"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/mechain.jpg" alt="Référence mechain"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/mixart.jpg" alt="Référence mixart"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/ml.jpg" alt="Référence ml"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/musique.jpg" alt="Référence musique"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/pauget.jpg" alt="Référence pauget"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/pecheur.jpg" alt="Référence pecheur"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/picardie.jpg" alt="Référence picardie"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/picart.jpg" alt="Référence picart"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/pjj.jpg" alt="Référence pjj"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/reims.jpg" alt="Référence reims"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/reims2.jpg" alt="Référence reims2"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/scooter.jpg" alt="Référence scooter"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/soisson.jpg" alt="Référence soisson"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/telethon.jpg" alt="Référence telethon"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/tousensemble.jpg" alt="Référence tousensemble"></div>
                <div class="col-md-2 col-sm-3 col-xs-4"><img width="100%" src="/images/front/reference/vitry.jpg" alt="Référence vitry"></div>
                
            </div>
            
        </div><!-- .container -->
</section>
    <script language="javascript" src="js/front/jquery-1.11.0.min.js"></script>

     <script language="javascript" src="js/front/jquery.easing.1.3.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script language="javascript" src="js/front/bootstrap.min.js"></script>
    <!-- Master slider core JavaScript -->
    <script language="javascript" src="js/front/masterslider.min.js"></script>
    <!-- Master slider staff core JavaScript -->
    <script language="javascript" src="js/front/masterslider.staff.carousel.dev.js"></script>
    <!-- WOW core JavaScript -->
    <script language="javascript" src="js/front/wow.min.js"></script>
    <!-- Waypoints core JavaScript -->
    <script language="javascript" src="js/front/waypoints.min.js"></script>
    <!-- Underscore core JavaScript -->
    <script language="javascript" src="js/front/underscore-min.js"></script>
    <!-- jQuery Backstretch core -->
    <script language="javascript" src="js/front/jquery.backstretch.min.js"></script>
    <!-- jQuery color core JavaScript -->
    <script language="javascript" src="js/front/jquery.animation.js"></script>
    <!-- Isotope core JavaScript -->
    <script language="javascript" src="js/front/jquery.isotope.min.js"></script>
    <!-- Stellar core JavaScript -->
    <script language="javascript" src="js/front/jquery.stellar.min.js"></script>
    <!-- Contact core JavaScript -->
    <script language="javascript" src="js/front/jquery.contact.min.js"></script>
    <!-- NiceScroll core Javascript -->
    <script language="javascript" src="js/front/jquery.nicescroll.min.js"></script>
    <script language="javascript" src="js/dependencies/prettyembed.js"></script>
    <!-- Retina core JavaScript -->
    <script language="javascript" src="js/front/retina-1.1.0.min.js"></script>
    <!-- Nivo Slider JavaScript -->
    <script language="javascript" src="js/front/jquery.nivo.slider.pack.js"></script>
    <!-- Video core JavaScript -->
    <script language="javascript" src="js/front/video.js"></script>
    <!-- OWL Carousel core JavaScript -->
    <script language="javascript" src="js/front/owl.carousel.min.js"></script>
    <!-- twitterfeed core JavaScript -->
    <!-- // <script language="javascript" src="js/front/jquery.twitterfeed.js"></script> -->
    <!-- Lightbox core JavaScript -->
    <script language="javascript" src="js/front/lightbox.min.js"></script>
    <script language="javascript" src="bower_components/sharrre/jquery.sharrre.min.js"></script>
    <!-- Everything else -->
    <script language="javascript" src="js/front/custom.js"></script>

    <script type="text/javascript" language="javascript">


    <!--
    jQuery(document).ready(function($) {
        



        /************************
        ****** MasterSlider *****
        *************************/
        // Calibrate slider's height
        var sliderHeight = 0; // Smallest hieght allowed (default height)
        var sliderwidth = 1024; // Smallest hieght allowed (default height)
        if ( $('#masterslider').data('height') == 'fullscreen' ) {
            var winHeight = $(window).height();
            console.log(winHeight);
            sliderHeight = winHeight > sliderHeight ? winHeight : sliderHeight;
        }
        var winWidth = $(window).width();
            console.log(winWidth);
        sliderwidth = winWidth < sliderwidth ? winWidth : sliderwidth;
        console.log(sliderwidth);
        // Initialize the main slider
        var slider = new MasterSlider();
        slider.setup('masterslider', {
            space:0,
            fullwidth:true,
            autoplay:true,
            overPause:false,
            width:sliderwidth,
            height:sliderHeight,
            view:"fade",
            // view:"mask",
            // height:300,
            // autoHeight:true,
            heightLimit:true
        });
        // adds Arrows navigation control to the slider.
        slider.control('bullets',{autohide:false  , dir:"h"});
        
        var teamslider = new MasterSlider();
        teamslider.setup('teamslider' , {
            loop:true,
            width:200,
            height:200,
            speed:20,
            view:'stffade',
            grabCursor:false,
            preload:0,
            space:29
        });
        teamslider.control('slideinfo',{insertTo:'#staff-info'});
        
        $(".team .ms-nav-next").click(function() {
            teamslider.api.next();  
        });
        
        $(".team .ms-nav-prev").click(function() {
            teamslider.api.previous();  
        });
    });
    
    
    // -->
    </script>
</body>
</html>