<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keyword" content="<%- keyword %>">
<meta name="description" content="<%- description %>">

<title><%- title %></title>
<base href="<%= baseurl %>" >

    <!-- Bootstrap core CSS -->
    <link href="styles/front/bootstrap.css" rel="stylesheet" />
    <!-- Primary CSS styles -->
    <link href="styles/front/style.css" rel="stylesheet" />
    <!-- Masterslider CSS styles -->
    <link href="styles/front/masterslider/masterslider.css" rel="stylesheet" />
    <link href="styles/front/masterslider/skins/black-1/style.css" rel="stylesheet" />
    <!-- Fontawesome CSS styles -->
    <link href="styles/front/font-awesome.min.css" rel="stylesheet" />
    <!-- Aniamte CSS styles -->
    <link href="styles/front/animate.css" rel="stylesheet" />
    <!-- Nivo Slider CSS Styles -->
    <link href="styles/front/nivo-slider.css" rel="stylesheet" />
    <!-- Isotope CSS Styles -->
    <link href="styles/front/isotope.css" rel="stylesheet" />
    <!-- Owl Carousel CSS Styles -->
    <link href="styles/front/owl.carousel.css" rel="stylesheet" />
    <link href="styles/front/owl.theme.css" rel="stylesheet" />
    <link href="styles/front/owl.transitions.css" rel="stylesheet" />
    <!-- Lightbox CSS Styles -->
    <link href="styles/front/lightbox.css" rel="stylesheet" />

        <!-- ****** favicons générés par faviconit.com ****** -->
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="/favicon-196.png">
    <link rel="icon" type="image/png" sizes="160x160" href="/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon-152.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon-144.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon-120.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon-114.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon-76.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon-72.png">
    <link rel="apple-touch-icon" href="/favicon-57.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="/favicon-144.png">
    <meta name="msapplication-config" content="/browserconfig.xml">
    <!-- ****** favicons générés par faviconit.com ****** -->
    
</head>
  
<body>
    <script language="javascript" src="js/front/jquery-1.11.0.min.js"></script>
 
    <%- body %>

 <footer>
    <section class="content-section parallax-bg-3" data-stellar-background-ratio=".15" data-stellar-vertical-offset="-100">
         <!-- <div class="overlay"> -->
        <!-- .foot-wrapper -->
        <div class="container">
        
            <div  class="bg-height2">
                    <!-- <h1 class="anim fadeInDown">Convinced?</h1> -->
                 <!-- <div class="center-buttons"> -->
                   <!--  <p style="color:white">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui cupiditate numquam et aperiam eius nihil consequatur laboriosam, ex corporis, officia, aliquam nostrum veritatis quod provident magni pariatur blanditiis asperiores accusantium.
                    </p> -->
              
                
                <!-- </div>.center-buttons -->
            </div>
            
        </div><!-- .container -->
        
        <div class="foot-wrapper">
            <div class="container">
                <div class="col-lg-12">
                
                    <div class="logo anim fadeInDown">
                        <center><img src="images/front/arbatou.svg" style="width: 290px;" alt="Footer logo arbatou." /></center>
                    </div><!-- .logo -->
                    
                    <p class="liner anim fadeInUp">L'arbre à tout faire</p>
                    
                    <ul class="social-media anim fadeInUp" data-wow-delay="0.25s">
                        <li><a href="http://wwww.facebook.com/profile.php?id=100009429655662" target="_BLANK"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="mailTo:contact@arbatou.fr"><i class="fa fa-envelope"></i></a></li>
                        <!-- <li><a href="#linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#github"><i class="fa fa-github"></i></a></li>
                        <li><a href="#pintrest"><i class="fa fa-pinterest"></i></a></li> -->
                    </ul><!-- .social-media -->
                    <p class="liner anim fadeInUp">Nos partenaires</p>
                    <ul class="footerpartenaire anim fadeInUp" data-wow-delay="0.25s">
                        <li><a href="http://www.voyageursdescimes.com/">Les voyageurs des cimes</a></li>
                        <li><a href="http://www.sam-branche.fr/">Sam'Branche</a></li>
                        <li><a href="http://www.arboreale.com/">Arboréale</a></li>
                        <li><a href="http://www.les-ega.fr/">SNGEA</a></li>
                        <li><a href="http://www.savoie-sport-nature.com/">savoie-sport-nature</a></li>
                        <li><a href="http://www.duodesbranches.com">Cie Duo des Branches</a></li>
                    </ul>
                    <p class="copyright anim fadeIn" data-wow-delay="0.35s">
                        Copyright 2014 - All Rights Reserved
                    </p><!-- .copyright -->
                    
                </div><!-- .col-lg-12 -->
            </div><!-- .container -->
        </div><!-- .foot-wrapper -->
       <!-- </div>         -->
    </section><!-- .content-section -->
    
</footer>
    
    <!-- Easing core JavaScript -->
    <script language="javascript" src="js/front/jquery.easing.1.3.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script language="javascript" src="js/front/bootstrap.min.js"></script>
    <!-- Master slider core JavaScript -->
    <script language="javascript" src="js/front/masterslider.min.js"></script>
    <!-- Master slider staff core JavaScript -->
    <script language="javascript" src="js/front/masterslider.staff.carousel.dev.js"></script>
    <!-- WOW core JavaScript -->
    <script language="javascript" src="js/front/wow.min.js"></script>
    <!-- Waypoints core JavaScript -->
    <script language="javascript" src="js/front/waypoints.min.js"></script>
    <!-- Underscore core JavaScript -->
    <script language="javascript" src="js/front/underscore-min.js"></script>
    <!-- jQuery Backstretch core -->
    <script language="javascript" src="js/front/jquery.backstretch.min.js"></script>
    <!-- jQuery color core JavaScript -->
    <script language="javascript" src="js/front/jquery.animation.js"></script>
    <!-- Isotope core JavaScript -->
    <script language="javascript" src="js/front/jquery.isotope.min.js"></script>
    <!-- Stellar core JavaScript -->
    <script language="javascript" src="js/front/jquery.stellar.min.js"></script>
    <!-- Contact core JavaScript -->
    <script language="javascript" src="js/front/jquery.contact.min.js"></script>
    <!-- NiceScroll core Javascript -->
    <script language="javascript" src="js/front/jquery.nicescroll.min.js"></script>
    <!-- Retina core JavaScript -->
    <script language="javascript" src="js/front/retina-1.1.0.min.js"></script>
    <!-- Nivo Slider JavaScript -->
    <script language="javascript" src="js/front/jquery.nivo.slider.pack.js"></script>
    <!-- Video core JavaScript -->
    <script language="javascript" src="js/front/video.js"></script>
    <!-- OWL Carousel core JavaScript -->
    <script language="javascript" src="js/front/owl.carousel.min.js"></script>
    <!-- twitterfeed core JavaScript -->
    <!-- // <script language="javascript" src="js/front/jquery.twitterfeed.js"></script> -->
    <!-- Lightbox core JavaScript -->
    <script language="javascript" src="js/front/lightbox.min.js"></script>
    <script language="javascript" src="js/front/fitvid.js"></script>
    <script language="javascript" src="js/front/waitForImages.js"></script>
    <!-- Everything else -->
    <script language="javascript" src="js/front/custom.js"></script>

    <script type="text/javascript" language="javascript">
    <!--
    jQuery(document).ready(function($) {
        
        /************************
        ****** MasterSlider *****
        *************************/
        // Calibrate slider's height
        var sliderHeight = 0; // Smallest hieght allowed (default height)
        var sliderwidth = 1024; // Smallest hieght allowed (default height)
        if ( $('#masterslider').data('height') == 'fullscreen' ) {
            var winHeight = $(window).height();
            console.log(winHeight);
            sliderHeight = winHeight > sliderHeight ? winHeight : sliderHeight;
        }
        var winWidth = $(window).width();
            console.log(winWidth);
        sliderwidth = winWidth < sliderwidth ? winWidth : sliderwidth;
        console.log(sliderwidth);
        // Initialize the main slider
        var slider = new MasterSlider();
        slider.setup('masterslider', {
            space:0,
            fullwidth:true,
            autoplay:false,
            // centerControls:false,
            // overVideo:false,
            overPause:false,
            width:sliderwidth,
            height:sliderHeight,
            view:"fade",
            // view:"mask",
            // height:300,
            // autoHeight:true,
            heightLimit:true
        });
        // adds Arrows navigation control to the slider.
        slider.control('bullets',{autohide:false, dir:"h"});
        slider.control('thumblist',{autohide:true});
        
        var teamslider = new MasterSlider();
        teamslider.setup('teamslider' , {
            loop:true,
            width:300,
            height:290,
            speed:20,
            view:'stffade',
            grabCursor:false,
            preload:0,
            space:29
        });
        teamslider.control('slideinfo',{insertTo:'#staff-info'});
        
        $(".team .ms-nav-next").click(function() {
            teamslider.api.next();  
        });
        
        $(".team .ms-nav-prev").click(function() {
            teamslider.api.previous();  
        });
    });
    
    
    // -->
    </script>
</body>
</html>