<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />
    <base href="<%- baseurl %>">
    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="css/dark.css" type="text/css" />
    <link rel="stylesheet" href="css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="css/animate.css" type="text/css" />
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />

    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="<%- description %>" />
    <meta name="keyword" content="<%- keyword %>" />
    <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
    <![endif]-->

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/plugins.js"></script>

    <!-- Document Title
    ============================================= -->
    <title><%- title %> </title>

    <link rel="shortcut icon" href="faviconit/favicon.ico">
    <link rel="icon" sizes="16x16 32x32 64x64" href="faviconit/favicon.ico">
    <link rel="icon" type="image/png" sizes="196x196" href="faviconit/favicon-192.png">
    <link rel="icon" type="image/png" sizes="160x160" href="faviconit/favicon-160.png">
    <link rel="icon" type="image/png" sizes="96x96" href="faviconit/favicon-96.png">
    <link rel="icon" type="image/png" sizes="64x64" href="faviconit/favicon-64.png">
    <link rel="icon" type="image/png" sizes="32x32" href="faviconit/favicon-32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="faviconit/favicon-16.png">
    <link rel="apple-touch-icon" href="faviconit/favicon-57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="faviconit/favicon-114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="faviconit/favicon-72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="faviconit/favicon-144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="faviconit/favicon-60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="faviconit/favicon-120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="faviconit/favicon-76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="faviconit/favicon-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="faviconit/favicon-180.png">
    <meta name="msapplication-TileColor" content="#FFFFFF">
    <meta name="msapplication-TileImage" content="faviconit/favicon-144.png">
    <meta name="msapplication-config" content="faviconit/browserconfig.xml">

</head>
<body class="stretched">

    <%- body %>


    <script type="text/javascript" src="js/functions.js"></script>

</body>
</html>