<!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <% include header.ejs %>

        <!-- Page Title
        ============================================= -->
        <section id="page-title">

            <div class="container clearfix">
                <h1><%- __('portfolio-title') %></h1>
                <span><%- __('portfolio-subtitle') %></span>
                <!-- <ol class="breadcrumb">
                    <li><a href="#">Home</a></li>
                    <li class="active">Portfolio</li>
                </ol> -->
            </div>

        </section><!-- #page-title end -->

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap">

                <div class="container clearfix">

                    <!-- Portfolio Filter
                    ============================================= -->
                    <ul id="portfolio-filter" class="clearfix">

                        <li class="activeFilter"><a href="#" data-filter="*"><%- __('All') %></a></li>
                        <% for(var i in categories){ %>
                        <li><a href="#" data-filter=".<%- categories[i].id %>"><%- categories[i].name %></a></li>
                        <% } %>
                        <!-- <li><a href="#" data-filter=".pf-illustrations">Animaux</a></li> -->
                        <!-- <li><a href="#" data-filter=".pf-uielements">UI Elements</a></li>
                        <li><a href="#" data-filter=".pf-media">Media</a></li>
                        <li><a href="#" data-filter=".pf-graphics">Graphics</a></li> -->

                    </ul><!-- #portfolio-filter end -->

                    <div id="portfolio-shuffle">
                        <i class="icon-random"></i>
                    </div>

                    <div class="clear"></div>

                    <!-- Portfolio Items
                    ============================================= -->
                    <div id="portfolio" class="portfolio-3 portfolio-masonry clearfix">
                        <% for(var i in projects){ %>
                        <% if(projects[i].images.length>=1) { %>
                        <article class="portfolio-item  <% if(projects[i].category){ %><%-projects[i].category.id %><% }%>">
                            <div class="portfolio-image">

                                
                                 <% if(projects[i].images.length){%>
                                 
                                    <a href="projet/<%- projects[i].id %>/<%- projects[i].rewriteurl %>">
                                        <img src="file/image/originalsize/<%-projects[i].images[0].img.filename %>" alt="file/image/originalsize/<%- projects[i].images[0].img.alt %>">
                                    </a>

                                 
                                <%} %>

                                <div class="portfolio-overlay">
                                    <!-- <a href="images/portfolio/full/1.jpg" class="left-icon" data-lightbox="image"><i class="icon-line-plus"></i></a> -->
                                    <a href="/projet/<%-projects[i].id %>/<%-projects[i].rewriteurl %>" class="center-icon"><i class="icon-line-ellipsis"></i></a>
                                </div>
                            </div>
                            <div class="portfolio-desc">
                                <h3><a href="projet/<%- projects[i].id %>/<%- projects[i].rewriteurl %>"><%- projects[i].title %></a></h3>
                                <!-- <span><a href="#">Media</a>, <a href="#">Icons</a></span> -->
                            </div>
                        </article>
                        <%} %>
                        <%} %>

                        


                    </div><!-- #portfolio end -->

                    <!-- Portfolio Script
                    ============================================= -->
                    <script type="text/javascript">

                        jQuery(window).load(function(){

                            var $container = $('#portfolio');

                            $container.isotope({ transitionDuration: '0.65s' });

                            $('#portfolio-filter a').click(function(){
                                $('#portfolio-filter li').removeClass('activeFilter');
                                $(this).parent('li').addClass('activeFilter');
                                var selector = $(this).attr('data-filter');
                                $container.isotope({ filter: selector });
                                return false;
                            });

                            $('#portfolio-shuffle').click(function(){
                                $container.isotope('updateSortData').isotope({
                                    sortBy: 'random'
                                });
                            });

                            $(window).resize(function() {
                                $container.isotope('layout');
                            });

                        });

                    </script><!-- Portfolio Script End -->

                </div>

            </div>

        </section><!-- #content end -->

        <% include footer.ejs %>

    </div><!-- #wrapper end -->
