
    <!-- content -->
    <section class="content" >
        <div class="container">
        <div class="row">
                <!-- LEFT COLONNE -->
            
                <!-- MAIN CONTENT -->
            <div class="col col-md-9">
                <div class="mainContainer">
                    <%
                    var customclass="";
                    if(typeof(article.category)!='undefined' && article.category.id == "569bfa235dd553cf109efd6d")
                        customclass="chercheur"; 
                    if(typeof(article.category)!='undefined' && article.category.id == "569bfa235dd553cf109efd6d")
                        customclass="salarie"; 
                    if(typeof(article.category)!='undefined' && article.category.id == "569bfa235dd553cf109efd6d")
                        customclass="entreprise"; 
                    if(typeof(article.category)!='undefined' && article.category.id == "569bfa235dd553cf109efd6d")
                        customclass="partenaire"; 
                    %>

                    <article class="article <%- customclass %> ">
                        <h2><%- article.title %></h2>
                        <p>
                        <% if(typeof(article.category)!='undefined'){ %> 
                            <a href="blog/article/<%= article.id %>/<%= article.rewriteurl %>">
                                <span><%= article.category.name %></span>
                            </a> -
                        <%} %>
                        <% if(typeof(article.tags)!='undefined'){ %> 
                            <% for(var j=0; j< article.tags.length ; j++){ %> 
                                <span><%= article.tags[j].text %></span>
                            -
                            <%} %>
                        <%} %>
                        <% if(typeof(article.comments)!='undefined'){ %> 
                            <span><%= article.comments.length %> commentaire<% if(article.comments.length>1){ %>s<%} %></span> -
                        <%} %>
                         <span>Publié le <%= moment(article.date).format('D MMMM YYYY à HH:mm') %></span>
                        </p>


                        <% if(typeof(article.images)!='undefined' && !article.publishVideo && article.images.length>0){ %>    
                            <div class="articleimage"><img src="file/image/originalsize/<%= article.images[0].image.filename %>" alt="<%= article.images[0].image.filename %>"></div>
                        <%}%>
                            <div class="articlecontent">
                                
                                    <%- marked(article.content) %>

                            </div>
                        

                        <div class="clearfix"></div>
                        
                    </article>
                    <% if(article.activeComent){ %>
                    <div class="commentaires">
                        <h5>Laissez un commentaire</h5>

                        <div class="form postcoment">
                            <form method="post" class="commentform" item="project" projid="<%= article.id %>" >
                                    
                                <span class="input-group  col-md-6" >
                                    <input type="text" name="name" id="author" class="lg" placeholder="Nom" />
                                </span><!-- .input-group -->
                                 
                                <span class="input-group  col-md-6" >
                                    <input type="text" name="email" id="email" class="lg" placeholder="Email" />
                                </span><!-- .input-group -->
                                
                                <span class="input-group col-md-12 " >
                                    <textarea name="message" id="content" class="lg" placeholder="Exprimez-vous!"></textarea>
                                </span><!-- .input-group -->
                                
                                 <div class="row errorMessageRequired">
                                    <div class="12u text-center">
                                        <small class=" label label-danger"><%= __('Veuillez remplir tout les champs correctement.') %></small>
                                    </div>
                                </div>
                                <div class="row errorMessageError">
                                    <div class="12u text-center">
                                        <small class=" label label-danger"><%= __('Une erreur est survenue.') %></small>
                                    </div>
                                </div>
                                <div class="row successMessage">
                                    <div class="12u text-center">
                                        <small class=" label label-success"><%= __('Votre commentaire a été envoyé. Il est en attente de modération.') %></small>
                                    </div>
                                </div>
                                
                                <input type="submit" value="Envoyer" class="btn btn-default pull-right">
                                <div class="clearfix"></div>
                            </form>
                        </div>

                        <h5>Commentaires (<%= article.comments.length %>)</h5>
                        
                        <ul class="comments">
                            <% for(var j=0; j<article.comments.length; j++) {%>
                            <li class="box boxcomment">
                                <h6>Le <%= moment(new Date(article.comments[j].createdAt)).format(' DD MMMM à HH:mm') %>, <b><%= article.comments[j].author %></b>  a écrit :</h6>
                               
                                <p><%= article.comments[j].content %></p>

                                <ul class="comments" >
                                    <% for(var k=0; k<article.comments[j].reponses.length; k++) {%>
                                    <li class="box boxcomment">
                                        <h6>Le <%= moment(new Date(article.comments[j].createdAt)).format(' DD MMMM à HH:mm') %>, <b><%= article.comments[j].author %></b> (administrateur MDENE-77)  a écrit :</h6>
                                        
                                        <p><%= article.comments[j].reponses[k].content %></p>
                                        
                                    </li>
                                    <% } %>
                                </ul>  
                            </li>
                            <% } %>
                        </ul>

                    </div>
                    <%}%>
                     
                    
                </div>
            </div>

            <div class="col col-md-3">
                <div class="blockrightcol">
                    <h4 class="calendrier">Calendrier</h4>
                    <div id="calendar"></div>
                </div>
                <div class="blockrightcol">
                    <h3>Les plus vues</h3>
                    <ul>
                        <% for(var i in mostseen){ %> 
                            <li>
                                <a href="blog/article/<%= mostseen[i].id %>/<%= mostseen[i].rewriteurl %>">
                                    
                                    <%= mostseen[i].title %>
                                </a>

                            </li>
                        <% } %> 
                    </ul>
                </div>
                <div class="blockrightcol">
                    <h3>Dernier articles</h3>
                    <ul>
                        <% for(var i in recent){ %> 
                            <li>
                                <a href="blog/article/<%= recent[i].id %>/<%= recent[i].rewriteurl %>">
                                    
                                    <%= recent[i].title %>
                                </a>

                            </li>
                        <% } %> 
                    </ul>
                </div>
                <div class="blockrightcol">
                    <h3>Catégories</h3>
                    <ul class="avecfleche">
                        <% for(var i in category){ %> 
                                <li><a href="blog/category/<%= category[i].id %>"><%= category[i].name %></a></li>
                            <% } %> 
                       
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </section>

    
<script>
    var category = <%- JSON.stringify(category) %>
    console.log(category);
    var mostseen = <%- JSON.stringify(mostseen) %>
    console.log(mostseen);
    var recent = <%- JSON.stringify(recent) %>
    console.log(recent);
    var article = <%- JSON.stringify(article) %>
    console.log(article);

</script>
<script src="js/proj.js"></script>