<div class="container-wrapper navigation">
        <nav class="navbar navbar-default" role="navigation">
        
            <div class="container">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/front/arbatouligne.svg"  />
                    </a>
                    <ul class="mini"></ul><!-- mobile navigation -->
                </div><!-- .navbar-header -->
                
                <div class="collapse navbar-collapse">
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="/">Home</a></li>
                            <li class=""><a href="/presta">Prestations</a></li>
                            <li class=""><a href="/noeuds">Nœuds</a></li>
                            <li class="active"><a href="/blog">Blog</a></li>
                            <li class=""><a href="/contact">Contact</a> </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            
        </nav>
    </div>
    <section class="slug parallax-slug-3" data-stellar-background-ratio="0">
    	<div class="overlay">
            <div class="container">
            	<div class="row">
                    <div class="col-lg-12">
                        <h1 class="anim fadeInDown">Blog</h1>
                        <p class="anim fadeInDown" data-wow-delay=".32s"><% if(thiscategory){%>
                        
                        <%= thiscategory.title %>
                    <%}%>  </p>
                        
                    </div><!-- .col-lg-12 -->
                </div><!-- .row -->
            </div>
        </div><!-- .overlay -->
    </section>
   
   	<section class="content-section low-rider">
    	<div class="container">
        	<div class="row">
            
            	<div class="col-lg-9">
                    <% if(thiscategory && thiscategory.imgpath){%>
                        <div style="margin-bottom:20px;">
                            <img src="file/image/thumbs/<%= thiscategory.imgpath %>" alt="<%= thiscategory.title %>">
                        </div>
                    <%}%>    
                    <% for(var i in articles){ %> 
                       	<div class="blog anim fadeInLeft">
                            <% if(typeof(articles[i].imgpath)!='undefined'){ %>
                           
                                    <span class="image">
                                
                                        <a href="blog/article/<%= articles[i].id %>/<%= articles[i].rewriteurl %>" id="desc" data-icon="fa-link">
                                            <img src="file/image/thumbs/<%= articles[i].imgpath %>" alt="Blog Image" />
                                        </a>
                                    </span><!-- .image -->

                            <% } %>
             
                            <div class="date">
                                <a href="#" class="day">
                                    <%= articles[i].dateJ %>
                                </a>
                                <a href="#" class="month">
                                    <%= articles[i].dateM %>
                                </a>
                            </div><!-- .date -->
                            
                            <span class="title-desc">
                                <h3><%= articles[i].title %></h3>
                                <ul class="meta">
                                    <li><a href="blog/article/<%= articles[i].id %>/<%= articles[i].rewriteurl %>"><i class="fa fa-user"></i><%= articles[i].author %></a></li>
                                    <li><a href="blog/article/<%= articles[i].id %>/<%= articles[i].rewriteurl %>"><i class="fa fa-eye"></i><%= articles[i].nbView %></a></li>
                                    <li><a href="blog/article/<%= articles[i].id %>/<%= articles[i].rewriteurl %>"><i class="fa fa-th-list"></i>
                                        <% for(var j in category){
                                          if(articles[i].category && category[j].id==articles[i].category.id){%>
                                                <%= category[j].title %>
                                          <% } %>
                                        <% } %>
                                    </a></li>
                                    
                                </ul><!-- .meta -->
                            </span><!-- .title-desc -->
                            
                            <p>
                                <%- articles[i].shortcontent %>
                            </p>
                            
                            <a class="btn btn-sm btn-primary icon" data-wow-delay=".45s" role="button" href="blog/article/<%= articles[i].id %>/<%= articles[i].rewriteurl %>"><i class="fa fa-long-arrow-right"></i>Lire la suite</a>
    						
                            <div class="clearfix"></div>
                            
                        </div><!-- .blog -->
                    <% } %>    
                    
                     <ul class="pagination anim fadeInLeft" data-wow-delay="0.2s">
                        <li><a href="single.html">&laquo;</a></li>
                        <% for(var i=1; i<= nbPage ; i++){ %>
                          
                                <li <%if(i == currentPage){ %> class="active" <% } %> ><a href="blog/<%= i %>"><%= i %></a></li>
                        <% } %>
                       
                        <li><a href="single.html">&raquo;</a></li>
                    </ul><!-- .pagination -->
                    
                </div><!-- .col-lg-9 -->
                
                <div class="col-lg-3 sidebar">
                	
                    
                        <h4 class="anim fadeInRight">Catégories<i class="fa fa-th-list"></i></h4>
                     
                        <div class="anim fadeInRight">
                            <ul class="posts" >
                            <% for(var i in category){ %> 
                                <a href="blog/category/<%= category[i].id %>"><li><h6><%= category[i].title %></h6></li></a>
                            <% } %> 
                            </ul>
                        </div><!-- .text -->
                        
                        <h4 class="anim fadeInRight">
                        	Les plus vues<i class="fa fa-bomb"></i>
                        </h4>
                        
                        <div class="anim fadeInRight">
                                    <ul class="posts">

                                        <% for(var i in mostseen){ %> 
                                            <li>
                                                <a href="blog/article/<%= mostseen[i].id %>/<%= mostseen[i].rewriteurl %>">
                                                    
                                                <h6>
                                                    <%= mostseen[i].title %>
                                                </h6>
                                                <cite><i class="fa fa-date"></i><%= mostseen[i].date %></cite>
                                                <div class="clearfix"></div>
                                                </a>

                                            </li>
                                        <% } %> 
                                        
                                       
                                    </ul><!-- .posts-wrapper -->
                        </div>
                    </div>
                    
                </div><!-- .col-lg-4 .sidebar -->
                
            </div><!-- .row -->
        </div><!-- .container -->
    </section><!-- .content-section -->
    
<script>
    var category = <%- JSON.stringify(category) %>
    console.log(category);
    var mostseen = <%- JSON.stringify(mostseen) %>
    console.log(mostseen);
    var articles = <%- JSON.stringify(articles) %>
    console.log(articles);
    var thiscategory = <%- JSON.stringify(thiscategory) %>
    console.log(thiscategory);

</script>