
    <div class="container-wrapper navigation">
        <nav class="navbar navbar-default" role="navigation">
        
            <div class="container">
            
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <img src="images/front/arbatouligne.svg"  />
                    </a>
                    <ul class="mini"></ul><!-- mobile navigation -->
                </div><!-- .navbar-header -->
                
                <div class="collapse navbar-collapse">
                    <div class="right">
                        <ul class="nav navbar-nav">
                            <li class=""><a href="/">Home</a></li>
                            <li class=""><a href="/presta">Prestations</a></li>
                            <li class="active"><a href="/oeuds">Nœuds</a></li>
                            <li class=""><a href="/blog">Blog</a></li>
                            <li class=""><a href="/contact">Contact</a> </li>
                        </ul>
                    </div>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
            
        </nav>
        </div>
    <div id="nav-ends"></div>
    
    <section class="slug parallax-slug-5" data-stellar-background-ratio="0">
    	<div class="overlay">
            <div class="container">
            	<div class="row">
                    <div class="col-lg-12">
                        <h1 class="anim fadeInDown">Les Nœuds</h1>
                        <p class="anim fadeInDown" data-wow-delay=".32s">Apprendre les noeuds, c'est facile.</p>
                    </div><!-- .col-lg-12 -->
                </div><!-- .row -->
            </div>
        </div><!-- .overlay -->
    </section>
   
   	 <section class="portfolio shift" >
    	<div class="container">
        	<div class="filter anim fadeInDown" data-wow-delay="0.55s">
            	<ul id="filters">
                    <li><a class="btn btn-bordered hot btn-sm" role="button" data-filter="*">Tous</a></li>
                <% for(var i in category){%>
                    <li><a class="btn btn-bordered btn-sm" role="button" data-filter=".<%= category[i].id %>"><%= category[i].title %></a></li>
                <%}%>
                </ul>
            </div>
            <!-- Standard button -->
        </div><!-- container -->
         <div class="gallary">
         	<div class="preview">
            	<i class="fa fa-spinner fa-spin"></i>
            </div>
            <div class="row">
            <div class=" container noeuds">
                
               
                <% for(var i in projects){%>
                <div class=" noeud col-lg-12 <%= projects[i].category.id %>">
                    <div class="row">
                        <% for(var j =0; j < projects[i].images.length; j++) { %>
                                <div class="col-sm-6">
                                <% if(projects[i].images[j] && projects[i].images[j].index == 0){ %>
                                        <!-- <a href="#" id="desc" data-icon="fa-play-circle-o" > -->
                                           <img src="file/image/thumbs/<%= projects[i].images[j].filename %>" width="560" height="315" alt="<%=projects[i].title %> - <%=projects[i].rewriteurl %>" /> 
                                        <!-- </a> -->
                                        
                                <% } %><% if(projects[i].images[j] && projects[i].images[j].index == 0){ %>
                                        <!-- <div class="vidnode">
                                            
                                            <iframe width="560" height="315" src="//www.youtube.com/embed/JjwQudZdL1s" frameborder="0" allowfullscreen></iframe>
                                        </div> -->
                                <% } %>
                                </div>

                          
                        <% } %>
                        <div class="col-sm-6">
                            <div class="nodedesc"><div class="nodetitle"><%= projects[i].title %></div><%- projects[i].content %></div>
                        </div>   
                    </div>   

                </div>
                <%}%>
                
                
                <div class="clearfix"></div>
            </div>
            </div>
            
            
            <div class="clearfix"></div>
        </div>
    </section><!-- portfolio -->

<script>
var toto = <%- JSON.stringify(projects) %>;
    console.log(toto);
var toto2 = <%- JSON.stringify(category) %>;
    console.log(toto2);

</script>
